<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-estado-heading" data-cy="EstadoCreateUpdateHeading" jhiTranslate="erpDobemcontabilidadeApp.estado.home.createOrEditLabel">
        Criar ou editar Estado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.estado.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" jhiTranslate="erpDobemcontabilidadeApp.estado.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '30' }"
                  >Este campo não pode ter mais de 30 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_naturalidade" jhiTranslate="erpDobemcontabilidadeApp.estado.naturalidade"
            >Naturalidade</label
          >
          <input
            type="text"
            class="form-control"
            name="naturalidade"
            id="field_naturalidade"
            data-cy="naturalidade"
            formControlName="naturalidade"
          />
          @if (editForm.get('naturalidade')!.invalid && (editForm.get('naturalidade')!.dirty || editForm.get('naturalidade')!.touched)) {
            <div>
              @if (editForm.get('naturalidade')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Este campo não pode ter mais de 50 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sigla" jhiTranslate="erpDobemcontabilidadeApp.estado.sigla">Sigla</label>
          <input type="text" class="form-control" name="sigla" id="field_sigla" data-cy="sigla" formControlName="sigla" />
          @if (editForm.get('sigla')!.invalid && (editForm.get('sigla')!.dirty || editForm.get('sigla')!.touched)) {
            <div>
              @if (editForm.get('sigla')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '2' }"
                  >Este campo não pode ter mais de 2 caracteres.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
