<div>
  <h2 id="page-heading" data-cy="PerfilContadorHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.home.title">Perfil Contadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-perfil-contador"
        [routerLink]="['/perfil-contador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.home.createLabel">Criar novo Perfil Contador</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (perfilContadors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.home.notFound">Nenhum Perfil Contador encontrado</span>
    </div>
  }

  @if (perfilContadors && perfilContadors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="perfil">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.perfil">Perfil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limiteEmpresas">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteEmpresas">Limite Empresas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limiteDepartamentos">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteDepartamentos">Limite Departamentos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limiteAreaContabils">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteAreaContabils">Limite Area Contabils</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="limiteFaturamento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteFaturamento">Limite Faturamento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (perfilContador of perfilContadors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/perfil-contador', perfilContador.id, 'view']">{{ perfilContador.id }}</a>
              </td>
              <td>{{ perfilContador.perfil }}</td>
              <td>{{ perfilContador.descricao }}</td>
              <td>{{ perfilContador.limiteEmpresas }}</td>
              <td>{{ perfilContador.limiteDepartamentos }}</td>
              <td>{{ perfilContador.limiteAreaContabils }}</td>
              <td>{{ perfilContador.limiteFaturamento }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/contador']"
                    [queryParams]="{ 'filter[perfilContadorId.in]': perfilContador.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.perfilContador.contador' | translate) }"
                      >Mostrar Contador</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/perfil-contador-departamento']"
                    [queryParams]="{ 'filter[perfilContadorId.in]': perfilContador.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{
                        otherEntity: ('erpDobemcontabilidadeApp.perfilContador.perfilContadorDepartamento' | translate),
                      }"
                      >Mostrar Perfil Contador Departamento</span
                    >
                  </button>
                  <a
                    [routerLink]="['/perfil-contador', perfilContador.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/perfil-contador', perfilContador.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(perfilContador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (perfilContadors && perfilContadors.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
