<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-endereco-empresa-heading"
        data-cy="EnderecoEmpresaCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.home.createOrEditLabel"
      >
        Criar ou editar Endereco Empresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_logradouro" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.logradouro"
            >Logradouro</label
          >
          <input
            type="text"
            class="form-control"
            name="logradouro"
            id="field_logradouro"
            data-cy="logradouro"
            formControlName="logradouro"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numero" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          @if (editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)) {
            <div>
              @if (editForm.get('numero')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '5' }"
                  >Este campo não pode ter mais de 5 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_complemento" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.complemento"
            >Complemento</label
          >
          <input
            type="text"
            class="form-control"
            name="complemento"
            id="field_complemento"
            data-cy="complemento"
            formControlName="complemento"
          />
          @if (editForm.get('complemento')!.invalid && (editForm.get('complemento')!.dirty || editForm.get('complemento')!.touched)) {
            <div>
              @if (editForm.get('complemento')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo não pode ter mais de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bairro" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.bairro">Bairro</label>
          <input type="text" class="form-control" name="bairro" id="field_bairro" data-cy="bairro" formControlName="bairro" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cep" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.cep">Cep</label>
          <input type="text" class="form-control" name="cep" id="field_cep" data-cy="cep" formControlName="cep" />
          @if (editForm.get('cep')!.invalid && (editForm.get('cep')!.dirty || editForm.get('cep')!.touched)) {
            <div>
              @if (editForm.get('cep')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '9' }"
                  >Este campo não pode ter mais de 9 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_principal" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.principal"
            >Principal</label
          >
          <input type="checkbox" class="form-check" name="principal" id="field_principal" data-cy="principal" formControlName="principal" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_filial" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.filial">Filial</label>
          <input type="checkbox" class="form-check" name="filial" id="field_filial" data-cy="filial" formControlName="filial" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_enderecoFiscal" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.enderecoFiscal"
            >Endereco Fiscal</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="enderecoFiscal"
            id="field_enderecoFiscal"
            data-cy="enderecoFiscal"
            formControlName="enderecoFiscal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_empresa" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.empresa">Empresa</label>
          <select
            class="form-control"
            id="field_empresa"
            data-cy="empresa"
            name="empresa"
            formControlName="empresa"
            [compareWith]="compareEmpresa"
          >
            @if (editForm.get(['empresa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (empresaOption of empresasSharedCollection; track $index) {
              <option [ngValue]="empresaOption">{{ empresaOption.razaoSocial }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['empresa'])!.invalid && (editForm.get(['empresa'])!.dirty || editForm.get(['empresa'])!.touched)) {
          <div>
            @if (editForm.get(['empresa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_cidade" jhiTranslate="erpDobemcontabilidadeApp.enderecoEmpresa.cidade">Cidade</label>
          <select
            class="form-control"
            id="field_cidade"
            data-cy="cidade"
            name="cidade"
            formControlName="cidade"
            [compareWith]="compareCidade"
          >
            @if (editForm.get(['cidade'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (cidadeOption of cidadesSharedCollection; track $index) {
              <option [ngValue]="cidadeOption">{{ cidadeOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['cidade'])!.invalid && (editForm.get(['cidade'])!.dirty || editForm.get(['cidade'])!.touched)) {
          <div>
            @if (editForm.get(['cidade'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
