<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tarefa-ordem-servico-execucao-heading"
        data-cy="TarefaOrdemServicoExecucaoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.home.createOrEditLabel"
      >
        Criar ou editar Tarefa Ordem Servico Execucao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.descricao"
            >Descricao</label
          >
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordem" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.ordem">Ordem</label>
          <input type="number" class="form-control" name="ordem" id="field_ordem" data-cy="ordem" formControlName="ordem" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataEntrega" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.dataEntrega"
            >Data Entrega</label
          >
          <div class="d-flex">
            <input
              id="field_dataEntrega"
              data-cy="dataEntrega"
              type="datetime-local"
              class="form-control"
              name="dataEntrega"
              formControlName="dataEntrega"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataAgendada" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.dataAgendada"
            >Data Agendada</label
          >
          <div class="d-flex">
            <input
              id="field_dataAgendada"
              data-cy="dataAgendada"
              type="datetime-local"
              class="form-control"
              name="dataAgendada"
              formControlName="dataAgendada"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_concluida" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.concluida"
            >Concluida</label
          >
          <input type="checkbox" class="form-check" name="concluida" id="field_concluida" data-cy="concluida" formControlName="concluida" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_notificarCliente"
            jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.notificarCliente"
            >Notificar Cliente</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="notificarCliente"
            id="field_notificarCliente"
            data-cy="notificarCliente"
            formControlName="notificarCliente"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mes" jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.mes">Mes</label>
          <select class="form-control" name="mes" formControlName="mes" id="field_mes" data-cy="mes">
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.MesCompetenciaEnum.null' | translate }}</option>
            @for (mesCompetenciaEnum of mesCompetenciaEnumValues; track $index) {
              <option [value]="mesCompetenciaEnum">
                {{ 'erpDobemcontabilidadeApp.MesCompetenciaEnum.' + mesCompetenciaEnum | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_situacaoTarefa"
            jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.situacaoTarefa"
            >Situacao Tarefa</label
          >
          <select
            class="form-control"
            name="situacaoTarefa"
            formControlName="situacaoTarefa"
            id="field_situacaoTarefa"
            data-cy="situacaoTarefa"
          >
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.SituacaoTarefaEnum.null' | translate }}</option>
            @for (situacaoTarefaEnum of situacaoTarefaEnumValues; track $index) {
              <option [value]="situacaoTarefaEnum">
                {{ 'erpDobemcontabilidadeApp.SituacaoTarefaEnum.' + situacaoTarefaEnum | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_tarefaOrdemServico"
            jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.tarefaOrdemServico"
            >Tarefa Ordem Servico</label
          >
          <select
            class="form-control"
            id="field_tarefaOrdemServico"
            data-cy="tarefaOrdemServico"
            name="tarefaOrdemServico"
            formControlName="tarefaOrdemServico"
            [compareWith]="compareTarefaOrdemServico"
          >
            @if (editForm.get(['tarefaOrdemServico'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (tarefaOrdemServicoOption of tarefaOrdemServicosSharedCollection; track $index) {
              <option [ngValue]="tarefaOrdemServicoOption">{{ tarefaOrdemServicoOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['tarefaOrdemServico'])!.invalid &&
          (editForm.get(['tarefaOrdemServico'])!.dirty || editForm.get(['tarefaOrdemServico'])!.touched)
        ) {
          <div>
            @if (editForm.get(['tarefaOrdemServico'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
