<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (perfilContador()) {
      <div>
        <h2 data-cy="perfilContadorDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.detail.title">Perfil Contador</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ perfilContador()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.perfil">Perfil</span></dt>
          <dd>
            <span>{{ perfilContador()!.perfil }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.descricao">Descricao</span></dt>
          <dd>
            <span>{{ perfilContador()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteEmpresas">Limite Empresas</span></dt>
          <dd>
            <span>{{ perfilContador()!.limiteEmpresas }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteDepartamentos">Limite Departamentos</span></dt>
          <dd>
            <span>{{ perfilContador()!.limiteDepartamentos }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteFaturamento">Limite Faturamento</span></dt>
          <dd>
            <span>{{ perfilContador()!.limiteFaturamento }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/perfil-contador', perfilContador()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
