<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-plano-conta-azul-heading"
        data-cy="PlanoContaAzulCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.home.createOrEditLabel"
      >
        Criar ou editar Plano Conta Azul
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valorBase" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.valorBase"
            >Valor Base</label
          >
          <input type="number" class="form-control" name="valorBase" id="field_valorBase" data-cy="valorBase" formControlName="valorBase" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuarios" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.usuarios">Usuarios</label>
          <input type="number" class="form-control" name="usuarios" id="field_usuarios" data-cy="usuarios" formControlName="usuarios" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boletos" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.boletos">Boletos</label>
          <input type="number" class="form-control" name="boletos" id="field_boletos" data-cy="boletos" formControlName="boletos" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notaFiscalProduto" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalProduto"
            >Nota Fiscal Produto</label
          >
          <input
            type="number"
            class="form-control"
            name="notaFiscalProduto"
            id="field_notaFiscalProduto"
            data-cy="notaFiscalProduto"
            formControlName="notaFiscalProduto"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notaFiscalServico" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalServico"
            >Nota Fiscal Servico</label
          >
          <input
            type="number"
            class="form-control"
            name="notaFiscalServico"
            id="field_notaFiscalServico"
            data-cy="notaFiscalServico"
            formControlName="notaFiscalServico"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notaFiscalCe" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalCe"
            >Nota Fiscal Ce</label
          >
          <input
            type="number"
            class="form-control"
            name="notaFiscalCe"
            id="field_notaFiscalCe"
            data-cy="notaFiscalCe"
            formControlName="notaFiscalCe"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_suporte" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.suporte">Suporte</label>
          <input type="checkbox" class="form-check" name="suporte" id="field_suporte" data-cy="suporte" formControlName="suporte" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_situacao" jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.situacao">Situacao</label>
          <select class="form-control" name="situacao" formControlName="situacao" id="field_situacao" data-cy="situacao">
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.SituacaoPlanoContaAzulEnum.null' | translate }}</option>
            @for (situacaoPlanoContaAzulEnum of situacaoPlanoContaAzulEnumValues; track $index) {
              <option [value]="situacaoPlanoContaAzulEnum">
                {{ 'erpDobemcontabilidadeApp.SituacaoPlanoContaAzulEnum.' + situacaoPlanoContaAzulEnum | translate }}
              </option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
