<div>
  <h2 id="page-heading" data-cy="ContadorResponsavelOrdemServicoHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.home.title">Contador Responsavel Ordem Servicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contador-responsavel-ordem-servico"
        [routerLink]="['/contador-responsavel-ordem-servico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.home.createLabel"
          >Criar novo Contador Responsavel Ordem Servico</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (contadorResponsavelOrdemServicos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.home.notFound"
        >Nenhum Contador Responsavel Ordem Servico encontrado</span
      >
    </div>
  }

  @if (contadorResponsavelOrdemServicos && contadorResponsavelOrdemServicos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAtribuicao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.dataAtribuicao">Data Atribuicao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataRevogacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.dataRevogacao">Data Revogacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarefaOrdemServicoExecucao.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.tarefaOrdemServicoExecucao"
                  >Tarefa Ordem Servico Execucao</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.crc">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contadorResponsavelOrdemServico of contadorResponsavelOrdemServicos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contador-responsavel-ordem-servico', contadorResponsavelOrdemServico.id, 'view']">{{
                  contadorResponsavelOrdemServico.id
                }}</a>
              </td>
              <td>{{ contadorResponsavelOrdemServico.dataAtribuicao | formatMediumDatetime }}</td>
              <td>{{ contadorResponsavelOrdemServico.dataRevogacao | formatMediumDatetime }}</td>
              <td>
                @if (contadorResponsavelOrdemServico.tarefaOrdemServicoExecucao) {
                  <div>
                    <a
                      [routerLink]="[
                        '/tarefa-ordem-servico-execucao',
                        contadorResponsavelOrdemServico.tarefaOrdemServicoExecucao.id,
                        'view',
                      ]"
                      >{{ contadorResponsavelOrdemServico.tarefaOrdemServicoExecucao.nome }}</a
                    >
                  </div>
                }
              </td>
              <td>
                @if (contadorResponsavelOrdemServico.contador) {
                  <div>
                    <a [routerLink]="['/contador', contadorResponsavelOrdemServico.contador.id, 'view']">{{
                      contadorResponsavelOrdemServico.contador.crc
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/contador-responsavel-ordem-servico', contadorResponsavelOrdemServico.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/contador-responsavel-ordem-servico', contadorResponsavelOrdemServico.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(contadorResponsavelOrdemServico)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
