<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (avaliacaoContador()) {
      <div>
        <h2 data-cy="avaliacaoContadorDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.avaliacaoContador.detail.title">Avaliacao Contador</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ avaliacaoContador()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.avaliacaoContador.pontuacao">Pontuacao</span></dt>
          <dd>
            <span>{{ avaliacaoContador()!.pontuacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.avaliacaoContador.contador">Contador</span></dt>
          <dd>
            @if (avaliacaoContador()!.contador) {
              <div>
                <a [routerLink]="['/contador', avaliacaoContador()!.contador?.id, 'view']">{{ avaliacaoContador()!.contador?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.avaliacaoContador.avaliacao">Avaliacao</span></dt>
          <dd>
            @if (avaliacaoContador()!.avaliacao) {
              <div>
                <a [routerLink]="['/avaliacao', avaliacaoContador()!.avaliacao?.id, 'view']">{{ avaliacaoContador()!.avaliacao?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/avaliacao-contador', avaliacaoContador()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
