<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-estrangeiro-heading"
        data-cy="EstrangeiroCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.home.createOrEditLabel"
      >
        Criar ou editar Estrangeiro
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dataChegada" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.dataChegada"
            >Data Chegada</label
          >
          <input
            type="text"
            class="form-control"
            name="dataChegada"
            id="field_dataChegada"
            data-cy="dataChegada"
            formControlName="dataChegada"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataNaturalizacao" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.dataNaturalizacao"
            >Data Naturalizacao</label
          >
          <input
            type="text"
            class="form-control"
            name="dataNaturalizacao"
            id="field_dataNaturalizacao"
            data-cy="dataNaturalizacao"
            formControlName="dataNaturalizacao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_casadoComBrasileiro" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.casadoComBrasileiro"
            >Casado Com Brasileiro</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="casadoComBrasileiro"
            id="field_casadoComBrasileiro"
            data-cy="casadoComBrasileiro"
            formControlName="casadoComBrasileiro"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_filhosComBrasileiro" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.filhosComBrasileiro"
            >Filhos Com Brasileiro</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="filhosComBrasileiro"
            id="field_filhosComBrasileiro"
            data-cy="filhosComBrasileiro"
            formControlName="filhosComBrasileiro"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_checked" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.checked">Checked</label>
          <input type="checkbox" class="form-check" name="checked" id="field_checked" data-cy="checked" formControlName="checked" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_funcionario" jhiTranslate="erpDobemcontabilidadeApp.estrangeiro.funcionario"
            >Funcionario</label
          >
          <select
            class="form-control"
            id="field_funcionario"
            data-cy="funcionario"
            name="funcionario"
            formControlName="funcionario"
            [compareWith]="compareFuncionario"
          >
            @if (editForm.get(['funcionario'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (funcionarioOption of funcionariosSharedCollection; track $index) {
              <option [ngValue]="funcionarioOption">{{ funcionarioOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['funcionario'])!.invalid && (editForm.get(['funcionario'])!.dirty || editForm.get(['funcionario'])!.touched)) {
          <div>
            @if (editForm.get(['funcionario'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
