<div>
  <h2 id="page-heading" data-cy="FeedBackContadorParaUsuarioHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.home.title">Feed Back Contador Para Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feed-back-contador-para-usuario"
        [routerLink]="['/feed-back-contador-para-usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.home.createLabel"
          >Criar novo Feed Back Contador Para Usuario</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (feedBackContadorParaUsuarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.home.notFound"
        >Nenhum Feed Back Contador Para Usuario encontrado</span
      >
    </div>
  }

  @if (feedBackContadorParaUsuarios && feedBackContadorParaUsuarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="comentario">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.comentario">Comentario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.pontuacao">Pontuacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="criterioAvaliacaoAtor.descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.criterioAvaliacaoAtor"
                  >Criterio Avaliacao Ator</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuarioEmpresa.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.usuarioEmpresa">Usuario Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.crc">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordemServico.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.feedBackContadorParaUsuario.ordemServico">Ordem Servico</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (feedBackContadorParaUsuario of feedBackContadorParaUsuarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/feed-back-contador-para-usuario', feedBackContadorParaUsuario.id, 'view']">{{
                  feedBackContadorParaUsuario.id
                }}</a>
              </td>
              <td>{{ feedBackContadorParaUsuario.comentario }}</td>
              <td>{{ feedBackContadorParaUsuario.pontuacao }}</td>
              <td>
                @if (feedBackContadorParaUsuario.criterioAvaliacaoAtor) {
                  <div>
                    <a [routerLink]="['/criterio-avaliacao-ator', feedBackContadorParaUsuario.criterioAvaliacaoAtor.id, 'view']">{{
                      feedBackContadorParaUsuario.criterioAvaliacaoAtor.descricao
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (feedBackContadorParaUsuario.usuarioEmpresa) {
                  <div>
                    <a [routerLink]="['/usuario-empresa', feedBackContadorParaUsuario.usuarioEmpresa.id, 'view']">{{
                      feedBackContadorParaUsuario.usuarioEmpresa.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (feedBackContadorParaUsuario.contador) {
                  <div>
                    <a [routerLink]="['/contador', feedBackContadorParaUsuario.contador.id, 'view']">{{
                      feedBackContadorParaUsuario.contador.crc
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (feedBackContadorParaUsuario.ordemServico) {
                  <div>
                    <a [routerLink]="['/ordem-servico', feedBackContadorParaUsuario.ordemServico.id, 'view']">{{
                      feedBackContadorParaUsuario.ordemServico.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/feed-back-contador-para-usuario', feedBackContadorParaUsuario.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/feed-back-contador-para-usuario', feedBackContadorParaUsuario.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(feedBackContadorParaUsuario)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
