<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tributacao()) {
      <div>
        <h2 data-cy="tributacaoDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.tributacao.detail.title">Tributacao</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ tributacao()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.tributacao.nome">Nome</span></dt>
          <dd>
            <span>{{ tributacao()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.tributacao.descricao">Descricao</span></dt>
          <dd>
            <span>{{ tributacao()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.tributacao.situacao">Situacao</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoTributacaoEnum.' + (tributacao()!.situacao ?? 'null')">{{
              { null: '', ATIVO: 'ATIVO', INATIVO: 'INATIVO', BLOQUEADO: 'BLOQUEADO', EXCLUIDO: 'EXCLUIDO' }[
                tributacao()!.situacao ?? 'null'
              ]
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/tributacao', tributacao()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
