<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assinaturaEmpresa()) {
      <div>
        <h2 data-cy="assinaturaEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.detail.title">Assinatura Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.codigoAssinatura">Codigo Assinatura</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.codigoAssinatura }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorEnquadramento">Valor Enquadramento</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorEnquadramento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorTributacao">Valor Tributacao</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorTributacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorRamo">Valor Ramo</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorRamo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorFuncionarios">Valor Funcionarios</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorFuncionarios }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorSocios">Valor Socios</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorSocios }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorFaturamento">Valor Faturamento</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPlanoContabil">Valor Plano Contabil</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorPlanoContabil }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPlanoContabilComDesconto"
              >Valor Plano Contabil Com Desconto</span
            >
          </dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorPlanoContabilComDesconto }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPlanoContaAzulComDesconto"
              >Valor Plano Conta Azul Com Desconto</span
            >
          </dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorPlanoContaAzulComDesconto }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorMensalidade">Valor Mensalidade</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorMensalidade }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPeriodo">Valor Periodo</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorPeriodo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorAno">Valor Ano</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.valorAno }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.dataContratacao">Data Contratacao</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.dataContratacao | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.dataEncerramento">Data Encerramento</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.dataEncerramento | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.diaVencimento">Dia Vencimento</span></dt>
          <dd>
            <span>{{ assinaturaEmpresa()!.diaVencimento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.situacao">Situacao</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoContratoEmpresaEnum.' + (assinaturaEmpresa()!.situacao ?? 'null')">{{
              {
                null: '',
                PROPOSTA: 'PROPOSTA',
                ATIVO: 'ATIVO',
                INATIVO: 'INATIVO',
                PENDENTE: 'PENDENTE',
                BLOQUEADO: 'BLOQUEADO',
                CANCELADO: 'CANCELADO',
                EXCLUIDO: 'EXCLUIDO',
              }[assinaturaEmpresa()!.situacao ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.tipoContrato">Tipo Contrato</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.TipoContratoEnum.' + (assinaturaEmpresa()!.tipoContrato ?? 'null')">{{
              { null: '', ABERTURA_EMPRESA: 'ABERTURA_EMPRESA', CONTRATACAO_PLANO: 'CONTRATACAO_PLANO' }[
                assinaturaEmpresa()!.tipoContrato ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.periodoPagamento">Periodo Pagamento</span></dt>
          <dd>
            @if (assinaturaEmpresa()!.periodoPagamento) {
              <div>
                <a [routerLink]="['/periodo-pagamento', assinaturaEmpresa()!.periodoPagamento?.id, 'view']">{{
                  assinaturaEmpresa()!.periodoPagamento?.periodo
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.formaDePagamento">Forma De Pagamento</span></dt>
          <dd>
            @if (assinaturaEmpresa()!.formaDePagamento) {
              <div>
                <a [routerLink]="['/forma-de-pagamento', assinaturaEmpresa()!.formaDePagamento?.id, 'view']">{{
                  assinaturaEmpresa()!.formaDePagamento?.forma
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.planoContaAzul">Plano Conta Azul</span></dt>
          <dd>
            @if (assinaturaEmpresa()!.planoContaAzul) {
              <div>
                <a [routerLink]="['/plano-conta-azul', assinaturaEmpresa()!.planoContaAzul?.id, 'view']">{{
                  assinaturaEmpresa()!.planoContaAzul?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.planoContabil">Plano Contabil</span></dt>
          <dd>
            @if (assinaturaEmpresa()!.planoContabil) {
              <div>
                <a [routerLink]="['/plano-contabil', assinaturaEmpresa()!.planoContabil?.id, 'view']">{{
                  assinaturaEmpresa()!.planoContabil?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (assinaturaEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', assinaturaEmpresa()!.empresa?.id, 'view']">{{ assinaturaEmpresa()!.empresa?.razaoSocial }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/assinatura-empresa', assinaturaEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
