<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (documentoTarefa()) {
      <div>
        <h2 data-cy="documentoTarefaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.documentoTarefa.detail.title">Documento Tarefa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ documentoTarefa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.documentoTarefa.nome">Nome</span></dt>
          <dd>
            <span>{{ documentoTarefa()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.documentoTarefa.tarefa">Tarefa</span></dt>
          <dd>
            @if (documentoTarefa()!.tarefa) {
              <div>
                <a [routerLink]="['/tarefa', documentoTarefa()!.tarefa?.id, 'view']">{{ documentoTarefa()!.tarefa?.titulo }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/documento-tarefa', documentoTarefa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
