<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-valor-base-ramo-heading"
        data-cy="ValorBaseRamoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.valorBaseRamo.home.createOrEditLabel"
      >
        Criar ou editar Valor Base Ramo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.valorBaseRamo.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_valorBase" jhiTranslate="erpDobemcontabilidadeApp.valorBaseRamo.valorBase">Valor Base</label>
          <input type="number" class="form-control" name="valorBase" id="field_valorBase" data-cy="valorBase" formControlName="valorBase" />
          @if (editForm.get('valorBase')!.invalid && (editForm.get('valorBase')!.dirty || editForm.get('valorBase')!.touched)) {
            <div>
              @if (editForm.get('valorBase')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('valorBase')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ramo" jhiTranslate="erpDobemcontabilidadeApp.valorBaseRamo.ramo">Ramo</label>
          <select class="form-control" id="field_ramo" data-cy="ramo" name="ramo" formControlName="ramo" [compareWith]="compareRamo">
            @if (editForm.get(['ramo'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (ramoOption of ramosSharedCollection; track $index) {
              <option [ngValue]="ramoOption">{{ ramoOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['ramo'])!.invalid && (editForm.get(['ramo'])!.dirty || editForm.get(['ramo'])!.touched)) {
          <div>
            @if (editForm.get(['ramo'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_planoContabil" jhiTranslate="erpDobemcontabilidadeApp.valorBaseRamo.planoContabil"
            >Plano Contabil</label
          >
          <select
            class="form-control"
            id="field_planoContabil"
            data-cy="planoContabil"
            name="planoContabil"
            formControlName="planoContabil"
            [compareWith]="comparePlanoContabil"
          >
            @if (editForm.get(['planoContabil'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (planoContabilOption of planoContabilsSharedCollection; track $index) {
              <option [ngValue]="planoContabilOption">{{ planoContabilOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['planoContabil'])!.invalid && (editForm.get(['planoContabil'])!.dirty || editForm.get(['planoContabil'])!.touched)
        ) {
          <div>
            @if (editForm.get(['planoContabil'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
