<div>
  <h2 id="page-heading" data-cy="CertificadoDigitalEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.home.title">Certificado Digital Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-certificado-digital-empresa"
        [routerLink]="['/certificado-digital-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.home.createLabel"
          >Criar novo Certificado Digital Empresa</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (certificadoDigitalEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.home.notFound"
        >Nenhum Certificado Digital Empresa encontrado</span
      >
    </div>
  }

  @if (certificadoDigitalEmpresas && certificadoDigitalEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="urlCertificado">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.urlCertificado">Url Certificado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataContratacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.dataContratacao">Data Contratacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataVencimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.dataVencimento">Data Vencimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diasUso">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.diasUso">Dias Uso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pessoaJuridica.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.pessoaJuridica">Pessoa Juridica</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="certificadoDigital.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.certificadoDigital">Certificado Digital</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fornecedorCertificado.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.certificadoDigitalEmpresa.fornecedorCertificado">Fornecedor Certificado</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (certificadoDigitalEmpresa of certificadoDigitalEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/certificado-digital-empresa', certificadoDigitalEmpresa.id, 'view']">{{
                  certificadoDigitalEmpresa.id
                }}</a>
              </td>
              <td>{{ certificadoDigitalEmpresa.urlCertificado }}</td>
              <td>{{ certificadoDigitalEmpresa.dataContratacao | formatMediumDatetime }}</td>
              <td>{{ certificadoDigitalEmpresa.dataVencimento | formatMediumDatetime }}</td>
              <td>{{ certificadoDigitalEmpresa.diasUso }}</td>
              <td>
                @if (certificadoDigitalEmpresa.pessoaJuridica) {
                  <div>
                    <a [routerLink]="['/pessoajuridica', certificadoDigitalEmpresa.pessoaJuridica.id, 'view']">{{
                      certificadoDigitalEmpresa.pessoaJuridica.razaoSocial
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (certificadoDigitalEmpresa.certificadoDigital) {
                  <div>
                    <a [routerLink]="['/certificado-digital', certificadoDigitalEmpresa.certificadoDigital.id, 'view']">{{
                      certificadoDigitalEmpresa.certificadoDigital.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (certificadoDigitalEmpresa.fornecedorCertificado) {
                  <div>
                    <a [routerLink]="['/fornecedor-certificado', certificadoDigitalEmpresa.fornecedorCertificado.id, 'view']">{{
                      certificadoDigitalEmpresa.fornecedorCertificado.razaoSocial
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/certificado-digital-empresa', certificadoDigitalEmpresa.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/certificado-digital-empresa', certificadoDigitalEmpresa.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(certificadoDigitalEmpresa)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
