<div>
  <h2 id="page-heading" data-cy="AnexoEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.home.title">Anexo Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-anexo-empresa"
        [routerLink]="['/anexo-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.home.createLabel">Criar novo Anexo Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (anexoEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.home.notFound">Nenhum Anexo Empresa encontrado</span>
    </div>
  }

  @if (anexoEmpresas && anexoEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="urlAnexo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.urlAnexo">Url Anexo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anexoRequeridoEmpresa.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.anexoEmpresa.anexoRequeridoEmpresa">Anexo Requerido Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (anexoEmpresa of anexoEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/anexo-empresa', anexoEmpresa.id, 'view']">{{ anexoEmpresa.id }}</a>
              </td>
              <td>{{ anexoEmpresa.urlAnexo }}</td>
              <td>
                @if (anexoEmpresa.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', anexoEmpresa.empresa.id, 'view']">{{ anexoEmpresa.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td>
                @if (anexoEmpresa.anexoRequeridoEmpresa) {
                  <div>
                    <a [routerLink]="['/anexo-requerido-empresa', anexoEmpresa.anexoRequeridoEmpresa.id, 'view']">{{
                      anexoEmpresa.anexoRequeridoEmpresa.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/anexo-empresa', anexoEmpresa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/anexo-empresa', anexoEmpresa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(anexoEmpresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
