<div>
  <h2 id="page-heading" data-cy="TarefaEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.home.title">Tarefa Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tarefa-empresa"
        [routerLink]="['/tarefa-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.home.createLabel">Criar novo Tarefa Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (tarefaEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.home.notFound">Nenhum Tarefa Empresa encontrado</span>
    </div>
  }

  @if (tarefaEmpresas && tarefaEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataHora">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.dataHora">Data Hora</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.crc">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarefa.titulo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.tarefaEmpresa.tarefa">Tarefa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tarefaEmpresa of tarefaEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tarefa-empresa', tarefaEmpresa.id, 'view']">{{ tarefaEmpresa.id }}</a>
              </td>
              <td>{{ tarefaEmpresa.dataHora | formatMediumDatetime }}</td>
              <td>
                @if (tarefaEmpresa.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', tarefaEmpresa.empresa.id, 'view']">{{ tarefaEmpresa.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td>
                @if (tarefaEmpresa.contador) {
                  <div>
                    <a [routerLink]="['/contador', tarefaEmpresa.contador.id, 'view']">{{ tarefaEmpresa.contador.crc }}</a>
                  </div>
                }
              </td>
              <td>
                @if (tarefaEmpresa.tarefa) {
                  <div>
                    <a [routerLink]="['/tarefa', tarefaEmpresa.tarefa.id, 'view']">{{ tarefaEmpresa.tarefa.titulo }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tarefa-empresa', tarefaEmpresa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/tarefa-empresa', tarefaEmpresa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(tarefaEmpresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tarefaEmpresas && tarefaEmpresas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
