<div>
  <h2 id="page-heading" data-cy="AreaContabilContadorHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.home.title">Area Contabil Contadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-area-contabil-contador"
        [routerLink]="['/area-contabil-contador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.home.createLabel">Criar novo Area Contabil Contador</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (areaContabilContadors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.home.notFound">Nenhum Area Contabil Contador encontrado</span>
    </div>
  }

  @if (areaContabilContadors && areaContabilContadors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="percentualExperiencia">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.percentualExperiencia">Percentual Experiencia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricaoExperiencia">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.descricaoExperiencia">Descricao Experiencia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacaoEntrevista">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.pontuacaoEntrevista">Pontuacao Entrevista</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacaoAvaliacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.pontuacaoAvaliacao">Pontuacao Avaliacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="areaContabil.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.areaContabil">Area Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (areaContabilContador of areaContabilContadors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/area-contabil-contador', areaContabilContador.id, 'view']">{{ areaContabilContador.id }}</a>
              </td>
              <td>{{ areaContabilContador.percentualExperiencia }}</td>
              <td>{{ areaContabilContador.descricaoExperiencia }}</td>
              <td>{{ areaContabilContador.pontuacaoEntrevista }}</td>
              <td>{{ areaContabilContador.pontuacaoAvaliacao }}</td>
              <td>
                @if (areaContabilContador.areaContabil) {
                  <div>
                    <a [routerLink]="['/area-contabil', areaContabilContador.areaContabil.id, 'view']">{{
                      areaContabilContador.areaContabil.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (areaContabilContador.contador) {
                  <div>
                    <a [routerLink]="['/contador', areaContabilContador.contador.id, 'view']">{{ areaContabilContador.contador.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/area-contabil-contador', areaContabilContador.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/area-contabil-contador', areaContabilContador.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(areaContabilContador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
