<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-termo-adesao-contador-heading"
        data-cy="TermoAdesaoContadorCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.home.createOrEditLabel"
      >
        Criar ou editar Termo Adesao Contador
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dataAdesao" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.dataAdesao"
            >Data Adesao</label
          >
          <div class="d-flex">
            <input
              id="field_dataAdesao"
              data-cy="dataAdesao"
              type="datetime-local"
              class="form-control"
              name="dataAdesao"
              formControlName="dataAdesao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_checked" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.checked">Checked</label>
          <input type="checkbox" class="form-check" name="checked" id="field_checked" data-cy="checked" formControlName="checked" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_urlDoc" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.urlDoc">Url Doc</label>
          <input type="text" class="form-control" name="urlDoc" id="field_urlDoc" data-cy="urlDoc" formControlName="urlDoc" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contador" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.contador"
            >Contador</label
          >
          <select
            class="form-control"
            id="field_contador"
            data-cy="contador"
            name="contador"
            formControlName="contador"
            [compareWith]="compareContador"
          >
            @if (editForm.get(['contador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (contadorOption of contadorsSharedCollection; track $index) {
              <option [ngValue]="contadorOption">{{ contadorOption.crc }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contador'])!.invalid && (editForm.get(['contador'])!.dirty || editForm.get(['contador'])!.touched)) {
          <div>
            @if (editForm.get(['contador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_termoDeAdesao" jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoContador.termoDeAdesao"
            >Termo De Adesao</label
          >
          <select
            class="form-control"
            id="field_termoDeAdesao"
            data-cy="termoDeAdesao"
            name="termoDeAdesao"
            formControlName="termoDeAdesao"
            [compareWith]="compareTermoDeAdesao"
          >
            @if (editForm.get(['termoDeAdesao'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (termoDeAdesaoOption of termoDeAdesaosSharedCollection; track $index) {
              <option [ngValue]="termoDeAdesaoOption">{{ termoDeAdesaoOption.titulo }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['termoDeAdesao'])!.invalid && (editForm.get(['termoDeAdesao'])!.dirty || editForm.get(['termoDeAdesao'])!.touched)
        ) {
          <div>
            @if (editForm.get(['termoDeAdesao'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
