<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (socio()) {
      <div>
        <h2 data-cy="socioDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.socio.detail.title">Socio</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ socio()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.prolabore">Prolabore</span></dt>
          <dd>
            <span>{{ socio()!.prolabore }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.percentualSociedade">Percentual Sociedade</span></dt>
          <dd>
            <span>{{ socio()!.percentualSociedade }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.adminstrador">Adminstrador</span></dt>
          <dd>
            <span>{{ socio()!.adminstrador }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.distribuicaoLucro">Distribuicao Lucro</span></dt>
          <dd>
            <span>{{ socio()!.distribuicaoLucro }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.responsavelReceita">Responsavel Receita</span></dt>
          <dd>
            <span>{{ socio()!.responsavelReceita }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.percentualDistribuicaoLucro">Percentual Distribuicao Lucro</span></dt>
          <dd>
            <span>{{ socio()!.percentualDistribuicaoLucro }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.funcaoSocio">Funcao Socio</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.FuncaoSocioEnum.' + (socio()!.funcaoSocio ?? 'null')">{{
              { null: '', SOCIO: 'SOCIO', SOCIOADMINISTRADOR: 'SOCIOADMINISTRADOR', SOCIOGERENTE: 'SOCIOGERENTE' }[
                socio()!.funcaoSocio ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.pessoa">Pessoa</span></dt>
          <dd>
            @if (socio()!.pessoa) {
              <div>
                <a [routerLink]="['/pessoa', socio()!.pessoa?.id, 'view']">{{ socio()!.pessoa?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.usuarioEmpresa">Usuario Empresa</span></dt>
          <dd>
            @if (socio()!.usuarioEmpresa) {
              <div>
                <a [routerLink]="['/usuario-empresa', socio()!.usuarioEmpresa?.id, 'view']">{{ socio()!.usuarioEmpresa?.email }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.empresa">Empresa</span></dt>
          <dd>
            @if (socio()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', socio()!.empresa?.id, 'view']">{{ socio()!.empresa?.razaoSocial }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.socio.profissao">Profissao</span></dt>
          <dd>
            @if (socio()!.profissao) {
              <div>
                <a [routerLink]="['/profissao', socio()!.profissao?.id, 'view']">{{ socio()!.profissao?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/socio', socio()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
