<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (empresaVinculada()) {
      <div>
        <h2 data-cy="empresaVinculadaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.detail.title">Empresa Vinculada</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.nomeEmpresa">Nome Empresa</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.nomeEmpresa }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.cnpj">Cnpj</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.cnpj }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.remuneracaoEmpresa">Remuneracao Empresa</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.remuneracaoEmpresa }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.observacoes">Observacoes</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.observacoes }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.salarioFixo">Salario Fixo</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.salarioFixo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.salarioVariavel">Salario Variavel</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.salarioVariavel }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.valorSalarioFixo">Valor Salario Fixo</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.valorSalarioFixo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.dataTerminoContrato">Data Termino Contrato</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.dataTerminoContrato }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.numeroInscricao">Numero Inscricao</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.numeroInscricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.codigoLotacao">Codigo Lotacao</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.codigoLotacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.descricaoComplementar">Descricao Complementar</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.descricaoComplementar }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.descricaoCargo">Descricao Cargo</span></dt>
          <dd>
            <span>{{ empresaVinculada()!.descricaoCargo }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.observacaoJornadaTrabalho">Observacao Jornada Trabalho</span>
          </dt>
          <dd>
            <span>{{ empresaVinculada()!.observacaoJornadaTrabalho }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.mediaHorasTrabalhadasSemana">Media Horas Trabalhadas Semana</span>
          </dt>
          <dd>
            <span>{{ empresaVinculada()!.mediaHorasTrabalhadasSemana }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.regimePrevidenciario">Regime Previdenciario</span></dt>
          <dd>
            <span
              [jhiTranslate]="'erpDobemcontabilidadeApp.RegimePrevidenciarioEnum.' + (empresaVinculada()!.regimePrevidenciario ?? 'null')"
              >{{ { null: '', RGPS: 'RGPS', RPPS: 'RPPS', RPPE: 'RPPE' }[empresaVinculada()!.regimePrevidenciario ?? 'null'] }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.unidadePagamentoSalario">Unidade Pagamento Salario</span></dt>
          <dd>
            <span
              [jhiTranslate]="
                'erpDobemcontabilidadeApp.UnidadePagamentoSalarioEnum.' + (empresaVinculada()!.unidadePagamentoSalario ?? 'null')
              "
              >{{
                { null: '', HORA: 'HORA', DIA: 'DIA', SEMANA: 'SEMANA', MES: 'MES', TAREFA: 'TAREFA' }[
                  empresaVinculada()!.unidadePagamentoSalario ?? 'null'
                ]
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.jornadaEspecial">Jornada Especial</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.JornadaEspecialEnum.' + (empresaVinculada()!.jornadaEspecial ?? 'null')">{{
              {
                null: '',
                DOZEPORTRINTASEIS: 'DOZEPORTRINTASEIS',
                VINTEQUATROPORSETENTADOIS: 'VINTEQUATROPORSETENTADOIS',
                OUTROS: 'OUTROS',
                NAOAPLICA: 'NAOAPLICA',
              }[empresaVinculada()!.jornadaEspecial ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.tipoInscricaoEmpresaVinculada"
              >Tipo Inscricao Empresa Vinculada</span
            >
          </dt>
          <dd>
            <span
              [jhiTranslate]="
                'erpDobemcontabilidadeApp.TipoInscricaoEmpresaVinculadaEnum.' +
                (empresaVinculada()!.tipoInscricaoEmpresaVinculada ?? 'null')
              "
              >{{
                { null: '', CNPJ: 'CNPJ', CPF: 'CPF', CAEPF: 'CAEPF', CNO: 'CNO' }[
                  empresaVinculada()!.tipoInscricaoEmpresaVinculada ?? 'null'
                ]
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.tipoContratoTrabalho">Tipo Contrato Trabalho</span></dt>
          <dd>
            <span
              [jhiTranslate]="'erpDobemcontabilidadeApp.TipoContratoTrabalhoEnum.' + (empresaVinculada()!.tipoContratoTrabalho ?? 'null')"
              >{{
                {
                  null: '',
                  INDETERMINADO: 'INDETERMINADO',
                  DETERMINADO: 'DETERMINADO',
                  DETERMINADOEXPERIENCIA: 'DETERMINADOEXPERIENCIA',
                  INTERMITENTE: 'INTERMITENTE',
                }[empresaVinculada()!.tipoContratoTrabalho ?? 'null']
              }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.tipoRegimeTrabalho">Tipo Regime Trabalho</span></dt>
          <dd>
            <span
              [jhiTranslate]="'erpDobemcontabilidadeApp.TipoRegimeTrabalhoEnum.' + (empresaVinculada()!.tipoRegimeTrabalho ?? 'null')"
              >{{ { null: '', CLT: 'CLT', RJU: 'RJU', RJP: 'RJP' }[empresaVinculada()!.tipoRegimeTrabalho ?? 'null'] }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.diasDaSemana">Dias Da Semana</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.DiasDaSemanaEnum.' + (empresaVinculada()!.diasDaSemana ?? 'null')">{{
              {
                null: '',
                SEGUNDAFEIRA: 'SEGUNDAFEIRA',
                TERCAFEIRA: 'TERCAFEIRA',
                QUARTAFEIRA: 'QUARTAFEIRA',
                QUINTAFEIRA: 'QUINTAFEIRA',
                SEXTAFEIRA: 'SEXTAFEIRA',
                SABADO: 'SABADO',
                DOMINGO: 'DOMINGO',
              }[empresaVinculada()!.diasDaSemana ?? 'null']
            }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.tipoJornadaEmpresaVinculada">Tipo Jornada Empresa Vinculada</span>
          </dt>
          <dd>
            <span
              [jhiTranslate]="
                'erpDobemcontabilidadeApp.TipoJornadaEmpresaVinculadaEnum.' + (empresaVinculada()!.tipoJornadaEmpresaVinculada ?? 'null')
              "
              >{{ { null: '', FIXA: 'FIXA', VARIAVEL: 'VARIAVEL' }[empresaVinculada()!.tipoJornadaEmpresaVinculada ?? 'null'] }}</span
            >
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresaVinculada.funcionario">Funcionario</span></dt>
          <dd>
            @if (empresaVinculada()!.funcionario) {
              <div>
                <a [routerLink]="['/funcionario', empresaVinculada()!.funcionario?.id, 'view']">{{
                  empresaVinculada()!.funcionario?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/empresa-vinculada', empresaVinculada()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
