<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-endereco-pessoa-heading"
        data-cy="EnderecoPessoaCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.home.createOrEditLabel"
      >
        Criar ou editar Endereco Pessoa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_logradouro" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.logradouro"
            >Logradouro</label
          >
          <input
            type="text"
            class="form-control"
            name="logradouro"
            id="field_logradouro"
            data-cy="logradouro"
            formControlName="logradouro"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numero" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_complemento" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.complemento"
            >Complemento</label
          >
          <input
            type="text"
            class="form-control"
            name="complemento"
            id="field_complemento"
            data-cy="complemento"
            formControlName="complemento"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bairro" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.bairro">Bairro</label>
          <input type="text" class="form-control" name="bairro" id="field_bairro" data-cy="bairro" formControlName="bairro" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cep" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.cep">Cep</label>
          <input type="text" class="form-control" name="cep" id="field_cep" data-cy="cep" formControlName="cep" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_principal" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.principal">Principal</label>
          <input type="checkbox" class="form-check" name="principal" id="field_principal" data-cy="principal" formControlName="principal" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pessoa" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.pessoa">Pessoa</label>
          <select
            class="form-control"
            id="field_pessoa"
            data-cy="pessoa"
            name="pessoa"
            formControlName="pessoa"
            [compareWith]="comparePessoa"
          >
            @if (editForm.get(['pessoa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (pessoaOption of pessoasSharedCollection; track $index) {
              <option [ngValue]="pessoaOption">{{ pessoaOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['pessoa'])!.invalid && (editForm.get(['pessoa'])!.dirty || editForm.get(['pessoa'])!.touched)) {
          <div>
            @if (editForm.get(['pessoa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_cidade" jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.cidade">Cidade</label>
          <select
            class="form-control"
            id="field_cidade"
            data-cy="cidade"
            name="cidade"
            formControlName="cidade"
            [compareWith]="compareCidade"
          >
            @if (editForm.get(['cidade'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (cidadeOption of cidadesSharedCollection; track $index) {
              <option [ngValue]="cidadeOption">{{ cidadeOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['cidade'])!.invalid && (editForm.get(['cidade'])!.dirty || editForm.get(['cidade'])!.touched)) {
          <div>
            @if (editForm.get(['cidade'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
