<div>
  <h2 id="page-heading" data-cy="AdicionalRamoHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.home.title">Adicional Ramos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adicional-ramo"
        [routerLink]="['/adicional-ramo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.home.createLabel">Criar novo Adicional Ramo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (adicionalRamos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.home.notFound">Nenhum Adicional Ramo encontrado</span>
    </div>
  }

  @if (adicionalRamos && adicionalRamos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ramo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.ramo">Ramo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planoAssinaturaContabil.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalRamo.planoAssinaturaContabil">Plano Assinatura Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (adicionalRamo of adicionalRamos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/adicional-ramo', adicionalRamo.id, 'view']">{{ adicionalRamo.id }}</a>
              </td>
              <td>{{ adicionalRamo.valor }}</td>
              <td>
                @if (adicionalRamo.ramo) {
                  <div>
                    <a [routerLink]="['/ramo', adicionalRamo.ramo.id, 'view']">{{ adicionalRamo.ramo.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (adicionalRamo.planoAssinaturaContabil) {
                  <div>
                    <a [routerLink]="['/plano-assinatura-contabil', adicionalRamo.planoAssinaturaContabil.id, 'view']">{{
                      adicionalRamo.planoAssinaturaContabil.nome
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/adicional-ramo', adicionalRamo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/adicional-ramo', adicionalRamo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(adicionalRamo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
