<div>
  <h2 id="page-heading" data-cy="AgenteIntegracaoEstagioHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.home.title">Agente Integracao Estagios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agente-integracao-estagio"
        [routerLink]="['/agente-integracao-estagio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.home.createLabel">Criar novo Agente Integracao Estagio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (agenteIntegracaoEstagios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.home.notFound">Nenhum Agente Integracao Estagio encontrado</span>
    </div>
  }

  @if (agenteIntegracaoEstagios && agenteIntegracaoEstagios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cnpj">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.cnpj">Cnpj</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.razaoSocial">Razao Social</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="coordenador">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.coordenador">Coordenador</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cpfCoordenadorEstagio">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.cpfCoordenadorEstagio">Cpf Coordenador Estagio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logradouro">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.logradouro">Logradouro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numero">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.numero">Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="complemento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.complemento">Complemento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bairro">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.bairro">Bairro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cep">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.cep">Cep</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="principal">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.principal">Principal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cidade.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agenteIntegracaoEstagio.cidade">Cidade</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (agenteIntegracaoEstagio of agenteIntegracaoEstagios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/agente-integracao-estagio', agenteIntegracaoEstagio.id, 'view']">{{ agenteIntegracaoEstagio.id }}</a>
              </td>
              <td>{{ agenteIntegracaoEstagio.cnpj }}</td>
              <td>{{ agenteIntegracaoEstagio.razaoSocial }}</td>
              <td>{{ agenteIntegracaoEstagio.coordenador }}</td>
              <td>{{ agenteIntegracaoEstagio.cpfCoordenadorEstagio }}</td>
              <td>{{ agenteIntegracaoEstagio.logradouro }}</td>
              <td>{{ agenteIntegracaoEstagio.numero }}</td>
              <td>{{ agenteIntegracaoEstagio.complemento }}</td>
              <td>{{ agenteIntegracaoEstagio.bairro }}</td>
              <td>{{ agenteIntegracaoEstagio.cep }}</td>
              <td>{{ agenteIntegracaoEstagio.principal }}</td>
              <td>
                @if (agenteIntegracaoEstagio.cidade) {
                  <div>
                    <a [routerLink]="['/cidade', agenteIntegracaoEstagio.cidade.id, 'view']">{{ agenteIntegracaoEstagio.cidade.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/agente-integracao-estagio', agenteIntegracaoEstagio.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/agente-integracao-estagio', agenteIntegracaoEstagio.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(agenteIntegracaoEstagio)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
