<div>
  <h2 id="page-heading" data-cy="FluxoModeloHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.home.title">Fluxo Modelos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fluxo-modelo"
        [routerLink]="['/fluxo-modelo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.home.createLabel">Criar novo Fluxo Modelo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (fluxoModelos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.home.notFound">Nenhum Fluxo Modelo encontrado</span>
    </div>
  }

  @if (fluxoModelos && fluxoModelos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cidade.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.fluxoModelo.cidade">Cidade</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (fluxoModelo of fluxoModelos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/fluxo-modelo', fluxoModelo.id, 'view']">{{ fluxoModelo.id }}</a>
              </td>
              <td>{{ fluxoModelo.nome }}</td>
              <td>{{ fluxoModelo.descricao }}</td>
              <td>
                @if (fluxoModelo.cidade) {
                  <div>
                    <a [routerLink]="['/cidade', fluxoModelo.cidade.id, 'view']">{{ fluxoModelo.cidade.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/fluxo-modelo', fluxoModelo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/fluxo-modelo', fluxoModelo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(fluxoModelo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
