<div>
  <h2 id="page-heading" data-cy="AdicionalTributacaoHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.home.title">Adicional Tributacaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adicional-tributacao"
        [routerLink]="['/adicional-tributacao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.home.createLabel">Criar novo Adicional Tributacao</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (adicionalTributacaos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.home.notFound">Nenhum Adicional Tributacao encontrado</span>
    </div>
  }

  @if (adicionalTributacaos && adicionalTributacaos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tributacao.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.tributacao">Tributacao</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planoAssinaturaContabil.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.adicionalTributacao.planoAssinaturaContabil">Plano Assinatura Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (adicionalTributacao of adicionalTributacaos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/adicional-tributacao', adicionalTributacao.id, 'view']">{{ adicionalTributacao.id }}</a>
              </td>
              <td>{{ adicionalTributacao.valor }}</td>
              <td>
                @if (adicionalTributacao.tributacao) {
                  <div>
                    <a [routerLink]="['/tributacao', adicionalTributacao.tributacao.id, 'view']">{{
                      adicionalTributacao.tributacao.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (adicionalTributacao.planoAssinaturaContabil) {
                  <div>
                    <a [routerLink]="['/plano-assinatura-contabil', adicionalTributacao.planoAssinaturaContabil.id, 'view']">{{
                      adicionalTributacao.planoAssinaturaContabil.nome
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/adicional-tributacao', adicionalTributacao.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/adicional-tributacao', adicionalTributacao.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(adicionalTributacao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
