<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (permisao()) {
      <div>
        <h2 data-cy="permisaoDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.permisao.detail.title">Permisao</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ permisao()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.permisao.nome">Nome</span></dt>
          <dd>
            <span>{{ permisao()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.permisao.descricao">Descricao</span></dt>
          <dd>
            <span>{{ permisao()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.permisao.label">Label</span></dt>
          <dd>
            <span>{{ permisao()!.label }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/permisao', permisao()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
