@if (competencia) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(competencia.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="competenciaDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirme a exclusão</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-competencia-heading"
        jhiTranslate="erpDobemcontabilidadeApp.competencia.delete.question"
        [translateValues]="{ id: competencia.id }"
      >
        Tem certeza de que deseja excluir Competencia {{ competencia.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-competencia" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
      </button>
    </div>
  </form>
}
