<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planoContaAzul()) {
      <div>
        <h2 data-cy="planoContaAzulDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.detail.title">Plano Conta Azul</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.nome">Nome</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.valorBase">Valor Base</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.valorBase }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.usuarios">Usuarios</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.usuarios }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.boletos">Boletos</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.boletos }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalProduto">Nota Fiscal Produto</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.notaFiscalProduto }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalServico">Nota Fiscal Servico</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.notaFiscalServico }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.notaFiscalCe">Nota Fiscal Ce</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.notaFiscalCe }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.suporte">Suporte</span></dt>
          <dd>
            <span>{{ planoContaAzul()!.suporte }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContaAzul.situacao">Situacao</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoPlanoContaAzulEnum.' + (planoContaAzul()!.situacao ?? 'null')">{{
              { null: '', ATIVO: 'ATIVO', INATIVO: 'INATIVO', EXCLUIDO: 'EXCLUIDO' }[planoContaAzul()!.situacao ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/plano-conta-azul', planoContaAzul()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
