<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (funcionalidade()) {
      <div>
        <h2 data-cy="funcionalidadeDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.funcionalidade.detail.title">Funcionalidade</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ funcionalidade()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidade.nome">Nome</span></dt>
          <dd>
            <span>{{ funcionalidade()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidade.ativa">Ativa</span></dt>
          <dd>
            <span>{{ funcionalidade()!.ativa }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidade.modulo">Modulo</span></dt>
          <dd>
            @if (funcionalidade()!.modulo) {
              <div>
                <a [routerLink]="['/modulo', funcionalidade()!.modulo?.id, 'view']">{{ funcionalidade()!.modulo?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/funcionalidade', funcionalidade()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
