<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planoContabil()) {
      <div>
        <h2 data-cy="planoContabilDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.detail.title">Plano Contabil</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ planoContabil()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.nome">Nome</span></dt>
          <dd>
            <span>{{ planoContabil()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.adicionalSocio">Adicional Socio</span></dt>
          <dd>
            <span>{{ planoContabil()!.adicionalSocio }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.adicionalFuncionario">Adicional Funcionario</span></dt>
          <dd>
            <span>{{ planoContabil()!.adicionalFuncionario }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.sociosIsentos">Socios Isentos</span></dt>
          <dd>
            <span>{{ planoContabil()!.sociosIsentos }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.adicionalFaturamento">Adicional Faturamento</span></dt>
          <dd>
            <span>{{ planoContabil()!.adicionalFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.valorBaseFaturamento">Valor Base Faturamento</span></dt>
          <dd>
            <span>{{ planoContabil()!.valorBaseFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.valorBaseAbertura">Valor Base Abertura</span></dt>
          <dd>
            <span>{{ planoContabil()!.valorBaseAbertura }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoContabil.situacao">Situacao</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoPlanoContabilEnum.' + (planoContabil()!.situacao ?? 'null')">{{
              { null: '', ATIVO: 'ATIVO', INATIVO: 'INATIVO', EXCLUIDO: 'EXCLUIDO' }[planoContabil()!.situacao ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/plano-contabil', planoContabil()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
