<div>
  <h2 id="page-heading" data-cy="OrdemServicoHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.home.title">Ordem Servicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ordem-servico"
        [routerLink]="['/ordem-servico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.home.createLabel">Criar novo Ordem Servico</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ordemServicos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.home.notFound">Nenhum Ordem Servico encontrado</span>
    </div>
  }

  @if (ordemServicos && ordemServicos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prazo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.prazo">Prazo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataCriacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.dataCriacao">Data Criacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataHoraCancelamento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.dataHoraCancelamento">Data Hora Cancelamento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statusDaOS">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.statusDaOS">Status Da OS</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.crc">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fluxoModelo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.ordemServico.fluxoModelo">Fluxo Modelo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ordemServico of ordemServicos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ordem-servico', ordemServico.id, 'view']">{{ ordemServico.id }}</a>
              </td>
              <td>{{ ordemServico.valor }}</td>
              <td>{{ ordemServico.prazo | formatMediumDatetime }}</td>
              <td>{{ ordemServico.dataCriacao | formatMediumDatetime }}</td>
              <td>{{ ordemServico.dataHoraCancelamento | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.StatusDaOSEnum.' + (ordemServico.statusDaOS ?? 'null')">
                {{
                  {
                    null: '',
                    ABERTA: 'ABERTA',
                    EMATENDIMENTO: 'EMATENDIMENTO',
                    COMPENDENCIA: 'COMPENDENCIA',
                    CONCLUIDA: 'CONCLUIDA',
                    CANCELADA: 'CANCELADA',
                  }[ordemServico.statusDaOS ?? 'null']
                }}
              </td>
              <td>{{ ordemServico.descricao }}</td>
              <td>
                @if (ordemServico.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', ordemServico.empresa.id, 'view']">{{ ordemServico.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ordemServico.contador) {
                  <div>
                    <a [routerLink]="['/contador', ordemServico.contador.id, 'view']">{{ ordemServico.contador.crc }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ordemServico.fluxoModelo) {
                  <div>
                    <a [routerLink]="['/fluxo-modelo', ordemServico.fluxoModelo.id, 'view']">{{ ordemServico.fluxoModelo.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ordem-servico', ordemServico.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/ordem-servico', ordemServico.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(ordemServico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
