<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-perfil-contador-heading"
        data-cy="PerfilContadorCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.perfilContador.home.createOrEditLabel"
      >
        Criar ou editar Perfil Contador
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.perfilContador.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_perfil" jhiTranslate="erpDobemcontabilidadeApp.perfilContador.perfil">Perfil</label>
          <input type="text" class="form-control" name="perfil" id="field_perfil" data-cy="perfil" formControlName="perfil" />
          @if (editForm.get('perfil')!.invalid && (editForm.get('perfil')!.dirty || editForm.get('perfil')!.touched)) {
            <div>
              @if (editForm.get('perfil')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.perfilContador.descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_limiteEmpresas" jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteEmpresas"
            >Limite Empresas</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteEmpresas"
            id="field_limiteEmpresas"
            data-cy="limiteEmpresas"
            formControlName="limiteEmpresas"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_limiteDepartamentos"
            jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteDepartamentos"
            >Limite Departamentos</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteDepartamentos"
            id="field_limiteDepartamentos"
            data-cy="limiteDepartamentos"
            formControlName="limiteDepartamentos"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_limiteAreaContabils"
            jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteAreaContabils"
            >Limite Area Contabils</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteAreaContabils"
            id="field_limiteAreaContabils"
            data-cy="limiteAreaContabils"
            formControlName="limiteAreaContabils"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_limiteFaturamento" jhiTranslate="erpDobemcontabilidadeApp.perfilContador.limiteFaturamento"
            >Limite Faturamento</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteFaturamento"
            id="field_limiteFaturamento"
            data-cy="limiteFaturamento"
            formControlName="limiteFaturamento"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
