<div>
  <h2 id="page-heading" data-cy="EtapaFluxoModeloHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.home.title">Etapa Fluxo Modelos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etapa-fluxo-modelo"
        [routerLink]="['/etapa-fluxo-modelo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.home.createLabel">Criar novo Etapa Fluxo Modelo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (etapaFluxoModelos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.home.notFound">Nenhum Etapa Fluxo Modelo encontrado</span>
    </div>
  }

  @if (etapaFluxoModelos && etapaFluxoModelos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ordem">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.ordem">Ordem</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fluxoModelo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.etapaFluxoModelo.fluxoModelo">Fluxo Modelo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (etapaFluxoModelo of etapaFluxoModelos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/etapa-fluxo-modelo', etapaFluxoModelo.id, 'view']">{{ etapaFluxoModelo.id }}</a>
              </td>
              <td>{{ etapaFluxoModelo.nome }}</td>
              <td>{{ etapaFluxoModelo.descricao }}</td>
              <td>{{ etapaFluxoModelo.ordem }}</td>
              <td>
                @if (etapaFluxoModelo.fluxoModelo) {
                  <div>
                    <a [routerLink]="['/fluxo-modelo', etapaFluxoModelo.fluxoModelo.id, 'view']">{{ etapaFluxoModelo.fluxoModelo.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/etapa-fluxo-modelo', etapaFluxoModelo.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/etapa-fluxo-modelo', etapaFluxoModelo.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(etapaFluxoModelo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
