<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-area-contabil-contador-heading"
        data-cy="AreaContabilContadorCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.home.createOrEditLabel"
      >
        Criar ou editar Area Contabil Contador
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_percentualExperiencia"
            jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.percentualExperiencia"
            >Percentual Experiencia</label
          >
          <input
            type="number"
            class="form-control"
            name="percentualExperiencia"
            id="field_percentualExperiencia"
            data-cy="percentualExperiencia"
            formControlName="percentualExperiencia"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_descricaoExperiencia"
            jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.descricaoExperiencia"
            >Descricao Experiencia</label
          >
          <input
            type="text"
            class="form-control"
            name="descricaoExperiencia"
            id="field_descricaoExperiencia"
            data-cy="descricaoExperiencia"
            formControlName="descricaoExperiencia"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ativo" jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.ativo">Ativo</label>
          <input type="checkbox" class="form-check" name="ativo" id="field_ativo" data-cy="ativo" formControlName="ativo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contador" jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.contador"
            >Contador</label
          >
          <select
            class="form-control"
            id="field_contador"
            data-cy="contador"
            name="contador"
            formControlName="contador"
            [compareWith]="compareContador"
          >
            @if (editForm.get(['contador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (contadorOption of contadorsSharedCollection; track $index) {
              <option [ngValue]="contadorOption">{{ contadorOption.crc }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contador'])!.invalid && (editForm.get(['contador'])!.dirty || editForm.get(['contador'])!.touched)) {
          <div>
            @if (editForm.get(['contador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_areaContabil" jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.areaContabil"
            >Area Contabil</label
          >
          <select
            class="form-control"
            id="field_areaContabil"
            data-cy="areaContabil"
            name="areaContabil"
            formControlName="areaContabil"
            [compareWith]="compareAreaContabil"
          >
            @if (editForm.get(['areaContabil'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (areaContabilOption of areaContabilsSharedCollection; track $index) {
              <option [ngValue]="areaContabilOption">{{ areaContabilOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['areaContabil'])!.invalid && (editForm.get(['areaContabil'])!.dirty || editForm.get(['areaContabil'])!.touched)
        ) {
          <div>
            @if (editForm.get(['areaContabil'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
