<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cnae()) {
      <div>
        <h2 data-cy="cnaeDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.cnae.detail.title">Cnae</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ cnae()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.codigo">Codigo</span></dt>
          <dd>
            <span>{{ cnae()!.codigo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.descricao">Descricao</span></dt>
          <dd>
            <span>{{ cnae()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.anexo">Anexo</span></dt>
          <dd>
            <span>{{ cnae()!.anexo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.atendidoFreemium">Atendido Freemium</span></dt>
          <dd>
            <span>{{ cnae()!.atendidoFreemium }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.atendido">Atendido</span></dt>
          <dd>
            <span>{{ cnae()!.atendido }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.optanteSimples">Optante Simples</span></dt>
          <dd>
            <span>{{ cnae()!.optanteSimples }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.cnae.categoria">Categoria</span></dt>
          <dd>
            <span>{{ cnae()!.categoria }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/cnae', cnae()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
