<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-imposto-parcelado-heading"
        data-cy="ImpostoParceladoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.impostoParcelado.home.createOrEditLabel"
      >
        Criar ou editar Imposto Parcelado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.impostoParcelado.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_diasAtraso" jhiTranslate="erpDobemcontabilidadeApp.impostoParcelado.diasAtraso"
            >Dias Atraso</label
          >
          <input
            type="number"
            class="form-control"
            name="diasAtraso"
            id="field_diasAtraso"
            data-cy="diasAtraso"
            formControlName="diasAtraso"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_parcelamentoImposto"
            jhiTranslate="erpDobemcontabilidadeApp.impostoParcelado.parcelamentoImposto"
            >Parcelamento Imposto</label
          >
          <select
            class="form-control"
            id="field_parcelamentoImposto"
            data-cy="parcelamentoImposto"
            name="parcelamentoImposto"
            formControlName="parcelamentoImposto"
            [compareWith]="compareParcelamentoImposto"
          >
            @if (editForm.get(['parcelamentoImposto'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (parcelamentoImpostoOption of parcelamentoImpostosSharedCollection; track $index) {
              <option [ngValue]="parcelamentoImpostoOption">{{ parcelamentoImpostoOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['parcelamentoImposto'])!.invalid &&
          (editForm.get(['parcelamentoImposto'])!.dirty || editForm.get(['parcelamentoImposto'])!.touched)
        ) {
          <div>
            @if (editForm.get(['parcelamentoImposto'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_impostoAPagarEmpresa"
            jhiTranslate="erpDobemcontabilidadeApp.impostoParcelado.impostoAPagarEmpresa"
            >Imposto A Pagar Empresa</label
          >
          <select
            class="form-control"
            id="field_impostoAPagarEmpresa"
            data-cy="impostoAPagarEmpresa"
            name="impostoAPagarEmpresa"
            formControlName="impostoAPagarEmpresa"
            [compareWith]="compareImpostoAPagarEmpresa"
          >
            @if (editForm.get(['impostoAPagarEmpresa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (impostoAPagarEmpresaOption of impostoAPagarEmpresasSharedCollection; track $index) {
              <option [ngValue]="impostoAPagarEmpresaOption">{{ impostoAPagarEmpresaOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['impostoAPagarEmpresa'])!.invalid &&
          (editForm.get(['impostoAPagarEmpresa'])!.dirty || editForm.get(['impostoAPagarEmpresa'])!.touched)
        ) {
          <div>
            @if (editForm.get(['impostoAPagarEmpresa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
