<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tarefa-heading" data-cy="TarefaCreateUpdateHeading" jhiTranslate="erpDobemcontabilidadeApp.tarefa.home.createOrEditLabel">
        Criar ou editar Tarefa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.tarefa.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_titulo" jhiTranslate="erpDobemcontabilidadeApp.tarefa.titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numeroDias" jhiTranslate="erpDobemcontabilidadeApp.tarefa.numeroDias">Numero Dias</label>
          <input
            type="number"
            class="form-control"
            name="numeroDias"
            id="field_numeroDias"
            data-cy="numeroDias"
            formControlName="numeroDias"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_diaUtil" jhiTranslate="erpDobemcontabilidadeApp.tarefa.diaUtil">Dia Util</label>
          <input type="checkbox" class="form-check" name="diaUtil" id="field_diaUtil" data-cy="diaUtil" formControlName="diaUtil" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_valor" jhiTranslate="erpDobemcontabilidadeApp.tarefa.valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notificarCliente" jhiTranslate="erpDobemcontabilidadeApp.tarefa.notificarCliente"
            >Notificar Cliente</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="notificarCliente"
            id="field_notificarCliente"
            data-cy="notificarCliente"
            formControlName="notificarCliente"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_geraMulta" jhiTranslate="erpDobemcontabilidadeApp.tarefa.geraMulta">Gera Multa</label>
          <input type="checkbox" class="form-check" name="geraMulta" id="field_geraMulta" data-cy="geraMulta" formControlName="geraMulta" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_exibirEmpresa" jhiTranslate="erpDobemcontabilidadeApp.tarefa.exibirEmpresa"
            >Exibir Empresa</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="exibirEmpresa"
            id="field_exibirEmpresa"
            data-cy="exibirEmpresa"
            formControlName="exibirEmpresa"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataLegal" jhiTranslate="erpDobemcontabilidadeApp.tarefa.dataLegal">Data Legal</label>
          <div class="d-flex">
            <input
              id="field_dataLegal"
              data-cy="dataLegal"
              type="datetime-local"
              class="form-control"
              name="dataLegal"
              formControlName="dataLegal"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pontos" jhiTranslate="erpDobemcontabilidadeApp.tarefa.pontos">Pontos</label>
          <input type="number" class="form-control" name="pontos" id="field_pontos" data-cy="pontos" formControlName="pontos" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipoTarefa" jhiTranslate="erpDobemcontabilidadeApp.tarefa.tipoTarefa">Tipo Tarefa</label>
          <select class="form-control" name="tipoTarefa" formControlName="tipoTarefa" id="field_tipoTarefa" data-cy="tipoTarefa">
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.TipoTarefaEnum.null' | translate }}</option>
            @for (tipoTarefaEnum of tipoTarefaEnumValues; track $index) {
              <option [value]="tipoTarefaEnum">{{ 'erpDobemcontabilidadeApp.TipoTarefaEnum.' + tipoTarefaEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_esfera" jhiTranslate="erpDobemcontabilidadeApp.tarefa.esfera">Esfera</label>
          <select
            class="form-control"
            id="field_esfera"
            data-cy="esfera"
            name="esfera"
            formControlName="esfera"
            [compareWith]="compareEsfera"
          >
            @if (editForm.get(['esfera'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (esferaOption of esferasSharedCollection; track $index) {
              <option [ngValue]="esferaOption">{{ esferaOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['esfera'])!.invalid && (editForm.get(['esfera'])!.dirty || editForm.get(['esfera'])!.touched)) {
          <div>
            @if (editForm.get(['esfera'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_frequencia" jhiTranslate="erpDobemcontabilidadeApp.tarefa.frequencia">Frequencia</label>
          <select
            class="form-control"
            id="field_frequencia"
            data-cy="frequencia"
            name="frequencia"
            formControlName="frequencia"
            [compareWith]="compareFrequencia"
          >
            @if (editForm.get(['frequencia'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (frequenciaOption of frequenciasSharedCollection; track $index) {
              <option [ngValue]="frequenciaOption">{{ frequenciaOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['frequencia'])!.invalid && (editForm.get(['frequencia'])!.dirty || editForm.get(['frequencia'])!.touched)) {
          <div>
            @if (editForm.get(['frequencia'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_competencia" jhiTranslate="erpDobemcontabilidadeApp.tarefa.competencia">Competencia</label>
          <select
            class="form-control"
            id="field_competencia"
            data-cy="competencia"
            name="competencia"
            formControlName="competencia"
            [compareWith]="compareCompetencia"
          >
            @if (editForm.get(['competencia'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (competenciaOption of competenciasSharedCollection; track $index) {
              <option [ngValue]="competenciaOption">{{ competenciaOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['competencia'])!.invalid && (editForm.get(['competencia'])!.dirty || editForm.get(['competencia'])!.touched)) {
          <div>
            @if (editForm.get(['competencia'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
