<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contador-responsavel-ordem-servico-heading"
        data-cy="ContadorResponsavelOrdemServicoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.home.createOrEditLabel"
      >
        Criar ou editar Contador Responsavel Ordem Servico
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_dataAtribuicao"
            jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.dataAtribuicao"
            >Data Atribuicao</label
          >
          <div class="d-flex">
            <input
              id="field_dataAtribuicao"
              data-cy="dataAtribuicao"
              type="datetime-local"
              class="form-control"
              name="dataAtribuicao"
              formControlName="dataAtribuicao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_dataRevogacao"
            jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.dataRevogacao"
            >Data Revogacao</label
          >
          <div class="d-flex">
            <input
              id="field_dataRevogacao"
              data-cy="dataRevogacao"
              type="datetime-local"
              class="form-control"
              name="dataRevogacao"
              formControlName="dataRevogacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_tarefaOrdemServicoExecucao"
            jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.tarefaOrdemServicoExecucao"
            >Tarefa Ordem Servico Execucao</label
          >
          <select
            class="form-control"
            id="field_tarefaOrdemServicoExecucao"
            data-cy="tarefaOrdemServicoExecucao"
            name="tarefaOrdemServicoExecucao"
            formControlName="tarefaOrdemServicoExecucao"
            [compareWith]="compareTarefaOrdemServicoExecucao"
          >
            @if (editForm.get(['tarefaOrdemServicoExecucao'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (tarefaOrdemServicoExecucaoOption of tarefaOrdemServicoExecucaosSharedCollection; track $index) {
              <option [ngValue]="tarefaOrdemServicoExecucaoOption">{{ tarefaOrdemServicoExecucaoOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['tarefaOrdemServicoExecucao'])!.invalid &&
          (editForm.get(['tarefaOrdemServicoExecucao'])!.dirty || editForm.get(['tarefaOrdemServicoExecucao'])!.touched)
        ) {
          <div>
            @if (editForm.get(['tarefaOrdemServicoExecucao'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contador" jhiTranslate="erpDobemcontabilidadeApp.contadorResponsavelOrdemServico.contador"
            >Contador</label
          >
          <select
            class="form-control"
            id="field_contador"
            data-cy="contador"
            name="contador"
            formControlName="contador"
            [compareWith]="compareContador"
          >
            @if (editForm.get(['contador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (contadorOption of contadorsSharedCollection; track $index) {
              <option [ngValue]="contadorOption">{{ contadorOption.crc }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contador'])!.invalid && (editForm.get(['contador'])!.dirty || editForm.get(['contador'])!.touched)) {
          <div>
            @if (editForm.get(['contador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
