<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-atividade-empresa-heading"
        data-cy="AtividadeEmpresaCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.home.createOrEditLabel"
      >
        Criar ou editar Atividade Empresa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_principal" jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.principal"
            >Principal</label
          >
          <input type="checkbox" class="form-check" name="principal" id="field_principal" data-cy="principal" formControlName="principal" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ordem" jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.ordem">Ordem</label>
          <input type="number" class="form-control" name="ordem" id="field_ordem" data-cy="ordem" formControlName="ordem" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_descricaoAtividade"
            jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.descricaoAtividade"
            >Descricao Atividade</label
          >
          <input
            type="text"
            class="form-control"
            name="descricaoAtividade"
            id="field_descricaoAtividade"
            data-cy="descricaoAtividade"
            formControlName="descricaoAtividade"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cnae" jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.cnae">Cnae</label>
          <select
            class="form-control"
            id="field_cnae"
            data-cy="cnae"
            name="cnae"
            formControlName="cnae"
            [compareWith]="compareSubclasseCnae"
          >
            @if (editForm.get(['cnae'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (subclasseCnaeOption of subclasseCnaesSharedCollection; track $index) {
              <option [ngValue]="subclasseCnaeOption">{{ subclasseCnaeOption.descricao }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['cnae'])!.invalid && (editForm.get(['cnae'])!.dirty || editForm.get(['cnae'])!.touched)) {
          <div>
            @if (editForm.get(['cnae'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_empresa" jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.empresa">Empresa</label>
          <select
            class="form-control"
            id="field_empresa"
            data-cy="empresa"
            name="empresa"
            formControlName="empresa"
            [compareWith]="compareEmpresa"
          >
            @if (editForm.get(['empresa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (empresaOption of empresasSharedCollection; track $index) {
              <option [ngValue]="empresaOption">{{ empresaOption.razaoSocial }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['empresa'])!.invalid && (editForm.get(['empresa'])!.dirty || editForm.get(['empresa'])!.touched)) {
          <div>
            @if (editForm.get(['empresa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
