@if (tarefaOrdemServicoExecucao) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(tarefaOrdemServicoExecucao.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="tarefaOrdemServicoExecucaoDeleteDialogHeading" jhiTranslate="entity.delete.title">
        Confirme a exclusão
      </h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-tarefaOrdemServicoExecucao-heading"
        jhiTranslate="erpDobemcontabilidadeApp.tarefaOrdemServicoExecucao.delete.question"
        [translateValues]="{ id: tarefaOrdemServicoExecucao.id }"
      >
        Tem certeza de que deseja excluir Tarefa Ordem Servico Execucao {{ tarefaOrdemServicoExecucao.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button id="jhi-confirm-delete-tarefaOrdemServicoExecucao" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
      </button>
    </div>
  </form>
}
