<div>
  <h2 id="page-heading" data-cy="PessoaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.home.title">Pessoas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pessoa"
        [routerLink]="['/pessoa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.home.createLabel">Criar novo Pessoa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (pessoas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.home.notFound">Nenhum Pessoa encontrado</span>
    </div>
  }

  @if (pessoas && pessoas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cpf">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.cpf">Cpf</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataNascimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.dataNascimento">Data Nascimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tituloEleitor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.tituloEleitor">Titulo Eleitor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rg">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.rg">Rg</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rgOrgaoExpeditor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.rgOrgaoExpeditor">Rg Orgao Expeditor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rgUfExpedicao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.rgUfExpedicao">Rg Uf Expedicao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomeMae">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.nomeMae">Nome Mae</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomePai">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.nomePai">Nome Pai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="localNascimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.localNascimento">Local Nascimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="racaECor">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.racaECor">Raca E Cor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pessoaComDeficiencia">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.pessoaComDeficiencia">Pessoa Com Deficiencia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoCivil">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.estadoCivil">Estado Civil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sexo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.sexo">Sexo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="urlFotoPerfil">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.pessoa.urlFotoPerfil">Url Foto Perfil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pessoa of pessoas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a>
              </td>
              <td>{{ pessoa.nome }}</td>
              <td>{{ pessoa.cpf }}</td>
              <td>{{ pessoa.dataNascimento }}</td>
              <td>{{ pessoa.tituloEleitor }}</td>
              <td>{{ pessoa.rg }}</td>
              <td>{{ pessoa.rgOrgaoExpeditor }}</td>
              <td>{{ pessoa.rgUfExpedicao }}</td>
              <td>{{ pessoa.nomeMae }}</td>
              <td>{{ pessoa.nomePai }}</td>
              <td>{{ pessoa.localNascimento }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.RacaECorEnum.' + (pessoa.racaECor ?? 'null')">
                {{
                  {
                    null: '',
                    AMARELA: 'AMARELA',
                    BRANCO: 'BRANCO',
                    INDIGENA: 'INDIGENA',
                    PARDO: 'PARDO',
                    NEGRO: 'NEGRO',
                    NAOINFORMADO: 'NAOINFORMADO',
                  }[pessoa.racaECor ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.PessoaComDeficienciaEnum.' + (pessoa.pessoaComDeficiencia ?? 'null')">
                {{
                  {
                    null: '',
                    DEFICIENCIAMOTORA: 'DEFICIENCIAMOTORA',
                    DEFICIENCIAVISUAL: 'DEFICIENCIAVISUAL',
                    DEFICIENCIAAUDITIVA: 'DEFICIENCIAAUDITIVA',
                    REABILITADO: 'REABILITADO',
                    NAOPOSSUI: 'NAOPOSSUI',
                  }[pessoa.pessoaComDeficiencia ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.EstadoCivilEnum.' + (pessoa.estadoCivil ?? 'null')">
                {{
                  {
                    null: '',
                    SOLTEIRO: 'SOLTEIRO',
                    CASADO: 'CASADO',
                    DIVORCIADO: 'DIVORCIADO',
                    VIUVO: 'VIUVO',
                    UNIAOESTAVEL: 'UNIAOESTAVEL',
                  }[pessoa.estadoCivil ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.SexoEnum.' + (pessoa.sexo ?? 'null')">
                {{ { null: '', MASCULINO: 'MASCULINO', FEMININO: 'FEMININO' }[pessoa.sexo ?? 'null'] }}
              </td>
              <td>{{ pessoa.urlFotoPerfil }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/funcionario']"
                    [queryParams]="{ 'filter[pessoaId.in]': pessoa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.pessoa.funcionario' | translate) }"
                      >Mostrar Funcionario</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/endereco-pessoa']"
                    [queryParams]="{ 'filter[pessoaId.in]': pessoa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.pessoa.enderecoPessoa' | translate) }"
                      >Mostrar Endereco Pessoa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/email']"
                    [queryParams]="{ 'filter[pessoaId.in]': pessoa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.pessoa.email' | translate) }"
                      >Mostrar Email</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/telefone']"
                    [queryParams]="{ 'filter[pessoaId.in]': pessoa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.pessoa.telefone' | translate) }"
                      >Mostrar Telefone</span
                    >
                  </button>
                  <a [routerLink]="['/pessoa', pessoa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(pessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (pessoas && pessoas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
