<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (impostoEmpresa()) {
      <div>
        <h2 data-cy="impostoEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.impostoEmpresa.detail.title">Imposto Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ impostoEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.impostoEmpresa.diaVencimento">Dia Vencimento</span></dt>
          <dd>
            <span>{{ impostoEmpresa()!.diaVencimento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.impostoEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (impostoEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', impostoEmpresa()!.empresa?.id, 'view']">{{ impostoEmpresa()!.empresa?.razaoSocial }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.impostoEmpresa.imposto">Imposto</span></dt>
          <dd>
            @if (impostoEmpresa()!.imposto) {
              <div>
                <a [routerLink]="['/imposto', impostoEmpresa()!.imposto?.id, 'view']">{{ impostoEmpresa()!.imposto?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/imposto-empresa', impostoEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
