<div>
  <h2 id="page-heading" data-cy="FuncionarioHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.home.title">Funcionarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-funcionario"
        [routerLink]="['/funcionario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.home.createLabel">Criar novo Funcionario</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (funcionarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.home.notFound">Nenhum Funcionario encontrado</span>
    </div>
  }

  @if (funcionarios && funcionarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salario">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.salario">Salario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ctps">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.ctps">Ctps</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cargo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.cargo">Cargo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricaoAtividades">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.descricaoAtividades">Descricao Atividades</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="situacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.situacao">Situacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pessoa.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.pessoa">Pessoa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (funcionario of funcionarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/funcionario', funcionario.id, 'view']">{{ funcionario.id }}</a>
              </td>
              <td>{{ funcionario.nome }}</td>
              <td>{{ funcionario.salario }}</td>
              <td>{{ funcionario.ctps }}</td>
              <td>{{ funcionario.cargo }}</td>
              <td>{{ funcionario.descricaoAtividades }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoFuncionarioEnum.' + (funcionario.situacao ?? 'null')">
                {{
                  {
                    null: '',
                    ADMITIDO: 'ADMITIDO',
                    AFASTADO: 'AFASTADO',
                    DEMITIDO: 'DEMITIDO',
                    EXPERIENCIA: 'EXPERIENCIA',
                    DEMITIDO_JUSTA_CAUSA: 'DEMITIDO_JUSTA_CAUSA',
                  }[funcionario.situacao ?? 'null']
                }}
              </td>
              <td>
                @if (funcionario.pessoa) {
                  <div>
                    <a [routerLink]="['/pessoa', funcionario.pessoa.id, 'view']">{{ funcionario.pessoa.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (funcionario.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', funcionario.empresa.id, 'view']">{{ funcionario.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/departamento-funcionario']"
                    [queryParams]="{ 'filter[funcionarioId.in]': funcionario.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.funcionario.departamentoFuncionario' | translate) }"
                      >Mostrar Departamento Funcionario</span
                    >
                  </button>
                  <a [routerLink]="['/funcionario', funcionario.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/funcionario', funcionario.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(funcionario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (funcionarios && funcionarios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
