<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (prazoAssinatura()) {
      <div>
        <h2 data-cy="prazoAssinaturaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.prazoAssinatura.detail.title">Prazo Assinatura</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ prazoAssinatura()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.prazoAssinatura.prazo">Prazo</span></dt>
          <dd>
            <span>{{ prazoAssinatura()!.prazo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.prazoAssinatura.meses">Meses</span></dt>
          <dd>
            <span>{{ prazoAssinatura()!.meses }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/prazo-assinatura', prazoAssinatura()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
