<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (opcaoRazaoSocialEmpresa()) {
      <div>
        <h2 data-cy="opcaoRazaoSocialEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.opcaoRazaoSocialEmpresa.detail.title">Opcao Razao Social Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ opcaoRazaoSocialEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoRazaoSocialEmpresa.nome">Nome</span></dt>
          <dd>
            <span>{{ opcaoRazaoSocialEmpresa()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoRazaoSocialEmpresa.ordem">Ordem</span></dt>
          <dd>
            <span>{{ opcaoRazaoSocialEmpresa()!.ordem }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoRazaoSocialEmpresa.selecionado">Selecionado</span></dt>
          <dd>
            <span>{{ opcaoRazaoSocialEmpresa()!.selecionado }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoRazaoSocialEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (opcaoRazaoSocialEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', opcaoRazaoSocialEmpresa()!.empresa?.id, 'view']">{{
                  opcaoRazaoSocialEmpresa()!.empresa?.razaoSocial
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/opcao-razao-social-empresa', opcaoRazaoSocialEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
