<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (grupoCnae()) {
      <div>
        <h2 data-cy="grupoCnaeDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.grupoCnae.detail.title">Grupo Cnae</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ grupoCnae()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.grupoCnae.codigo">Codigo</span></dt>
          <dd>
            <span>{{ grupoCnae()!.codigo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.grupoCnae.descricao">Descricao</span></dt>
          <dd>
            <span>{{ grupoCnae()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.grupoCnae.divisao">Divisao</span></dt>
          <dd>
            @if (grupoCnae()!.divisao) {
              <div>
                <a [routerLink]="['/divisao-cnae', grupoCnae()!.divisao?.id, 'view']">{{ grupoCnae()!.divisao?.descricao }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/grupo-cnae', grupoCnae()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
