<div>
  <h2 id="page-heading" data-cy="AreaContabilEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.home.title">Area Contabil Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-area-contabil-empresa"
        [routerLink]="['/area-contabil-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.home.createLabel">Criar novo Area Contabil Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (areaContabilEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.home.notFound">Nenhum Area Contabil Empresa encontrado</span>
    </div>
  }

  @if (areaContabilEmpresas && areaContabilEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.pontuacao">Pontuacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="depoimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.depoimento">Depoimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reclamacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.reclamacao">Reclamacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilEmpresa.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (areaContabilEmpresa of areaContabilEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/area-contabil-empresa', areaContabilEmpresa.id, 'view']">{{ areaContabilEmpresa.id }}</a>
              </td>
              <td>{{ areaContabilEmpresa.pontuacao }}</td>
              <td>{{ areaContabilEmpresa.depoimento }}</td>
              <td>{{ areaContabilEmpresa.reclamacao }}</td>
              <td>
                @if (areaContabilEmpresa.contador) {
                  <div>
                    <a [routerLink]="['/contador', areaContabilEmpresa.contador.id, 'view']">{{ areaContabilEmpresa.contador.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/area-contabil-empresa', areaContabilEmpresa.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/area-contabil-empresa', areaContabilEmpresa.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(areaContabilEmpresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
