<div>
  <h2 id="page-heading" data-cy="EmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.empresa.home.title">Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.empresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empresa"
        [routerLink]="['/empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.empresa.home.createLabel">Criar novo Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (empresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.empresa.home.notFound">Nenhum Empresa encontrado</span>
    </div>
  }

  @if (empresas && empresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.razaoSocial">Razao Social</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomeFantasia">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.nomeFantasia">Nome Fantasia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricaoDoNegocio">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.descricaoDoNegocio">Descricao Do Negocio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cnpj">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.cnpj">Cnpj</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAbertura">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.dataAbertura">Data Abertura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="urlContratoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.urlContratoSocial">Url Contrato Social</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="capitalSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.capitalSocial">Capital Social</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoSegmento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.tipoSegmento">Tipo Segmento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ramo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.ramo">Ramo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tributacao.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.tributacao">Tributacao</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enquadramento.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.empresa.enquadramento">Enquadramento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (empresa of empresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/empresa', empresa.id, 'view']">{{ empresa.id }}</a>
              </td>
              <td>{{ empresa.razaoSocial }}</td>
              <td>{{ empresa.nomeFantasia }}</td>
              <td>{{ empresa.descricaoDoNegocio }}</td>
              <td>{{ empresa.cnpj }}</td>
              <td>{{ empresa.dataAbertura | formatMediumDatetime }}</td>
              <td>{{ empresa.urlContratoSocial }}</td>
              <td>{{ empresa.capitalSocial }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.TipoSegmentoEnum.' + (empresa.tipoSegmento ?? 'null')">
                {{
                  { null: '', SERVICO: 'SERVICO', COMERCIO: 'COMERCIO', SERVICO_COMERCIO: 'SERVICO_COMERCIO', INDUSTRIA: 'INDUSTRIA' }[
                    empresa.tipoSegmento ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (empresa.ramo) {
                  <div>
                    <a [routerLink]="['/ramo', empresa.ramo.id, 'view']">{{ empresa.ramo.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (empresa.tributacao) {
                  <div>
                    <a [routerLink]="['/tributacao', empresa.tributacao.id, 'view']">{{ empresa.tributacao.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (empresa.enquadramento) {
                  <div>
                    <a [routerLink]="['/enquadramento', empresa.enquadramento.id, 'view']">{{ empresa.enquadramento.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/assinatura-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.assinaturaEmpresa' | translate) }"
                      >Mostrar Assinatura Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/funcionario']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.funcionario' | translate) }"
                      >Mostrar Funcionario</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/departamento-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.departamentoEmpresa' | translate) }"
                      >Mostrar Departamento Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/tarefa-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.tarefaEmpresa' | translate) }"
                      >Mostrar Tarefa Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/endereco-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.enderecoEmpresa' | translate) }"
                      >Mostrar Endereco Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/socio']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.socio' | translate) }"
                      >Mostrar Socio</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/certificado-digital']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.certificadoDigital' | translate) }"
                      >Mostrar Certificado Digital</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/usuario-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.usuarioEmpresa' | translate) }"
                      >Mostrar Usuario Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/opcao-razao-social-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.opcaoRazaoSocialEmpresa' | translate) }"
                      >Mostrar Opcao Razao Social Empresa</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/opcao-nome-fantasia-empresa']"
                    [queryParams]="{ 'filter[empresaId.in]': empresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.empresa.opcaoNomeFantasiaEmpresa' | translate) }"
                      >Mostrar Opcao Nome Fantasia Empresa</span
                    >
                  </button>
                  <a [routerLink]="['/empresa', empresa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/empresa', empresa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(empresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (empresas && empresas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
