<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (termoAdesaoEmpresa()) {
      <div>
        <h2 data-cy="termoAdesaoEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.detail.title">Termo Adesao Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ termoAdesaoEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.dataAdesao">Data Adesao</span></dt>
          <dd>
            <span>{{ termoAdesaoEmpresa()!.dataAdesao | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.checked">Checked</span></dt>
          <dd>
            <span>{{ termoAdesaoEmpresa()!.checked }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.urlDoc">Url Doc</span></dt>
          <dd>
            <span>{{ termoAdesaoEmpresa()!.urlDoc }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (termoAdesaoEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', termoAdesaoEmpresa()!.empresa?.id, 'view']">{{
                  termoAdesaoEmpresa()!.empresa?.razaoSocial
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoAdesaoEmpresa.planoContabil">Plano Contabil</span></dt>
          <dd>
            @if (termoAdesaoEmpresa()!.planoContabil) {
              <div>
                <a [routerLink]="['/plano-contabil', termoAdesaoEmpresa()!.planoContabil?.id, 'view']">{{
                  termoAdesaoEmpresa()!.planoContabil?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/termo-adesao-empresa', termoAdesaoEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
