<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (administrador()) {
      <div>
        <h2 data-cy="administradorDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.administrador.detail.title">Administrador</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ administrador()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.administrador.nome">Nome</span></dt>
          <dd>
            <span>{{ administrador()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.administrador.sobrenome">Sobrenome</span></dt>
          <dd>
            <span>{{ administrador()!.sobrenome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.administrador.funcao">Funcao</span></dt>
          <dd>
            <span>{{ administrador()!.funcao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.administrador.pessoa">Pessoa</span></dt>
          <dd>
            @if (administrador()!.pessoa) {
              <div>
                <a [routerLink]="['/pessoa', administrador()!.pessoa?.id, 'view']">{{ administrador()!.pessoa?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/administrador', administrador()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
