<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (avaliacao()) {
      <div>
        <h2 data-cy="avaliacaoDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.avaliacao.detail.title">Avaliacao</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ avaliacao()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.avaliacao.nome">Nome</span></dt>
          <dd>
            <span>{{ avaliacao()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.avaliacao.descricao">Descricao</span></dt>
          <dd>
            <span>{{ avaliacao()!.descricao }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/avaliacao', avaliacao()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
