<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (atividadeEmpresa()) {
      <div>
        <h2 data-cy="atividadeEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.detail.title">Atividade Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ atividadeEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.principal">Principal</span></dt>
          <dd>
            <span>{{ atividadeEmpresa()!.principal }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.ordem">Ordem</span></dt>
          <dd>
            <span>{{ atividadeEmpresa()!.ordem }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.descricaoAtividade">Descricao Atividade</span></dt>
          <dd>
            <span>{{ atividadeEmpresa()!.descricaoAtividade }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.atividadeEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (atividadeEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', atividadeEmpresa()!.empresa?.id, 'view']">{{ atividadeEmpresa()!.empresa?.razaoSocial }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/atividade-empresa', atividadeEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
