<div>
  <h2 id="page-heading" data-cy="AssinaturaEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.home.title">Assinatura Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-assinatura-empresa"
        [routerLink]="['/assinatura-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.home.createLabel">Criar novo Assinatura Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (assinaturaEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.home.notFound">Nenhum Assinatura Empresa encontrado</span>
    </div>
  }

  @if (assinaturaEmpresas && assinaturaEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigoAssinatura">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.codigoAssinatura">Codigo Assinatura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorEnquadramento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorEnquadramento">Valor Enquadramento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorTributacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorTributacao">Valor Tributacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorRamo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorRamo">Valor Ramo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorFuncionarios">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorFuncionarios">Valor Funcionarios</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorSocios">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorSocios">Valor Socios</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorFaturamento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorFaturamento">Valor Faturamento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPlanoContabil">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPlanoContabil">Valor Plano Contabil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPlanoContabilComDesconto">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPlanoContabilComDesconto"
                  >Valor Plano Contabil Com Desconto</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorMensalidade">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorMensalidade">Valor Mensalidade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPeriodo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorPeriodo">Valor Periodo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorAno">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.valorAno">Valor Ano</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataContratacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.dataContratacao">Data Contratacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataEncerramento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.dataEncerramento">Data Encerramento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diaVencimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.diaVencimento">Dia Vencimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="situacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.situacao">Situacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoContrato">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.tipoContrato">Tipo Contrato</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodoPagamento.periodo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.periodoPagamento">Periodo Pagamento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formaDePagamento.forma">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.formaDePagamento">Forma De Pagamento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planoContabil.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.planoContabil">Plano Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.assinaturaEmpresa.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (assinaturaEmpresa of assinaturaEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/assinatura-empresa', assinaturaEmpresa.id, 'view']">{{ assinaturaEmpresa.id }}</a>
              </td>
              <td>{{ assinaturaEmpresa.codigoAssinatura }}</td>
              <td>{{ assinaturaEmpresa.valorEnquadramento }}</td>
              <td>{{ assinaturaEmpresa.valorTributacao }}</td>
              <td>{{ assinaturaEmpresa.valorRamo }}</td>
              <td>{{ assinaturaEmpresa.valorFuncionarios }}</td>
              <td>{{ assinaturaEmpresa.valorSocios }}</td>
              <td>{{ assinaturaEmpresa.valorFaturamento }}</td>
              <td>{{ assinaturaEmpresa.valorPlanoContabil }}</td>
              <td>{{ assinaturaEmpresa.valorPlanoContabilComDesconto }}</td>
              <td>{{ assinaturaEmpresa.valorMensalidade }}</td>
              <td>{{ assinaturaEmpresa.valorPeriodo }}</td>
              <td>{{ assinaturaEmpresa.valorAno }}</td>
              <td>{{ assinaturaEmpresa.dataContratacao | formatMediumDatetime }}</td>
              <td>{{ assinaturaEmpresa.dataEncerramento | formatMediumDatetime }}</td>
              <td>{{ assinaturaEmpresa.diaVencimento }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoContratoEmpresaEnum.' + (assinaturaEmpresa.situacao ?? 'null')">
                {{
                  {
                    null: '',
                    PROPOSTA: 'PROPOSTA',
                    ATIVO: 'ATIVO',
                    INATIVO: 'INATIVO',
                    PENDENTE: 'PENDENTE',
                    BLOQUEADO: 'BLOQUEADO',
                    CANCELADO: 'CANCELADO',
                    EXCLUIDO: 'EXCLUIDO',
                  }[assinaturaEmpresa.situacao ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.TipoContratoEnum.' + (assinaturaEmpresa.tipoContrato ?? 'null')">
                {{
                  { null: '', ABERTURA_EMPRESA: 'ABERTURA_EMPRESA', CONTRATACAO_PLANO: 'CONTRATACAO_PLANO' }[
                    assinaturaEmpresa.tipoContrato ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (assinaturaEmpresa.periodoPagamento) {
                  <div>
                    <a [routerLink]="['/periodo-pagamento', assinaturaEmpresa.periodoPagamento.id, 'view']">{{
                      assinaturaEmpresa.periodoPagamento.periodo
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (assinaturaEmpresa.formaDePagamento) {
                  <div>
                    <a [routerLink]="['/forma-de-pagamento', assinaturaEmpresa.formaDePagamento.id, 'view']">{{
                      assinaturaEmpresa.formaDePagamento.forma
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (assinaturaEmpresa.planoContabil) {
                  <div>
                    <a [routerLink]="['/plano-contabil', assinaturaEmpresa.planoContabil.id, 'view']">{{
                      assinaturaEmpresa.planoContabil.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (assinaturaEmpresa.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', assinaturaEmpresa.empresa.id, 'view']">{{ assinaturaEmpresa.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/calculo-plano-assinatura']"
                    [queryParams]="{ 'filter[assinaturaEmpresaId.in]': assinaturaEmpresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.assinaturaEmpresa.calculoPlanoAssinatura' | translate) }"
                      >Mostrar Calculo Plano Assinatura</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/pagamento']"
                    [queryParams]="{ 'filter[assinaturaEmpresaId.in]': assinaturaEmpresa.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('erpDobemcontabilidadeApp.assinaturaEmpresa.pagamento' | translate) }"
                      >Mostrar Pagamento</span
                    >
                  </button>
                  <a
                    [routerLink]="['/assinatura-empresa', assinaturaEmpresa.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/assinatura-empresa', assinaturaEmpresa.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(assinaturaEmpresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (assinaturaEmpresas && assinaturaEmpresas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
