<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (empresa()) {
      <div>
        <h2 data-cy="empresaDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.empresa.detail.title">Empresa</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ empresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.razaoSocial">Razao Social</span></dt>
          <dd>
            <span>{{ empresa()!.razaoSocial }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.descricaoDoNegocio">Descricao Do Negocio</span></dt>
          <dd>
            <span>{{ empresa()!.descricaoDoNegocio }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.dataAbertura">Data Abertura</span></dt>
          <dd>
            <span>{{ empresa()!.dataAbertura | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.urlContratoSocial">Url Contrato Social</span></dt>
          <dd>
            <span>{{ empresa()!.urlContratoSocial }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.capitalSocial">Capital Social</span></dt>
          <dd>
            <span>{{ empresa()!.capitalSocial }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.cnae">Cnae</span></dt>
          <dd>
            <span>{{ empresa()!.cnae }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.pessoaJuridica">Pessoa Juridica</span></dt>
          <dd>
            @if (empresa()!.pessoaJuridica) {
              <div>
                <a [routerLink]="['/pessoajuridica', empresa()!.pessoaJuridica?.id, 'view']">{{
                  empresa()!.pessoaJuridica?.razaoSocial
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.tributacao">Tributacao</span></dt>
          <dd>
            @if (empresa()!.tributacao) {
              <div>
                <a [routerLink]="['/tributacao', empresa()!.tributacao?.id, 'view']">{{ empresa()!.tributacao?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.ramo">Ramo</span></dt>
          <dd>
            @if (empresa()!.ramo) {
              <div>
                <a [routerLink]="['/ramo', empresa()!.ramo?.id, 'view']">{{ empresa()!.ramo?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.empresa.enquadramento">Enquadramento</span></dt>
          <dd>
            @if (empresa()!.enquadramento) {
              <div>
                <a [routerLink]="['/enquadramento', empresa()!.enquadramento?.id, 'view']">{{ empresa()!.enquadramento?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/empresa', empresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
