<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cidade-heading" data-cy="CidadeCreateUpdateHeading" jhiTranslate="erpDobemcontabilidadeApp.cidade.home.createOrEditLabel">
        Criar ou editar Cidade
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.cidade.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nome" jhiTranslate="erpDobemcontabilidadeApp.cidade.nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contratacao" jhiTranslate="erpDobemcontabilidadeApp.cidade.contratacao">Contratacao</label>
          <input
            type="checkbox"
            class="form-check"
            name="contratacao"
            id="field_contratacao"
            data-cy="contratacao"
            formControlName="contratacao"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_abertura" jhiTranslate="erpDobemcontabilidadeApp.cidade.abertura">Abertura</label>
          <input type="checkbox" class="form-check" name="abertura" id="field_abertura" data-cy="abertura" formControlName="abertura" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="erpDobemcontabilidadeApp.cidade.estado">Estado</label>
          <select
            class="form-control"
            id="field_estado"
            data-cy="estado"
            name="estado"
            formControlName="estado"
            [compareWith]="compareEstado"
          >
            @if (editForm.get(['estado'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (estadoOption of estadosSharedCollection; track $index) {
              <option [ngValue]="estadoOption">{{ estadoOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['estado'])!.invalid && (editForm.get(['estado'])!.dirty || editForm.get(['estado'])!.touched)) {
          <div>
            @if (editForm.get(['estado'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
