<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (telefone()) {
      <div>
        <h2 data-cy="telefoneDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.telefone.detail.title">Telefone</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ telefone()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.telefone.codigoArea">Codigo Area</span></dt>
          <dd>
            <span>{{ telefone()!.codigoArea }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.telefone.telefone">Telefone</span></dt>
          <dd>
            <span>{{ telefone()!.telefone }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.telefone.principla">Principla</span></dt>
          <dd>
            <span>{{ telefone()!.principla }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.telefone.tipoTelefone">Tipo Telefone</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.TipoTelefoneEnum.' + (telefone()!.tipoTelefone ?? 'null')">{{
              { null: '', RESIDENCIAL: 'RESIDENCIAL', COMERCIAL: 'COMERCIAL', CELULAR: 'CELULAR', WHATSAPP: 'WHATSAPP' }[
                telefone()!.tipoTelefone ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.telefone.pessoa">Pessoa</span></dt>
          <dd>
            @if (telefone()!.pessoa) {
              <div>
                <a [routerLink]="['/pessoa', telefone()!.pessoa?.id, 'view']">{{ telefone()!.pessoa?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/telefone', telefone()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
