<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planoAssinaturaContabil()) {
      <div>
        <h2 data-cy="planoAssinaturaContabilDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.detail.title">Plano Assinatura Contabil</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.nome">Nome</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.adicionalSocio">Adicional Socio</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.adicionalSocio }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.adicionalFuncionario">Adicional Funcionario</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.adicionalFuncionario }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.sociosIsentos">Socios Isentos</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.sociosIsentos }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.adicionalFaturamento">Adicional Faturamento</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.adicionalFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.valorBaseFaturamento">Valor Base Faturamento</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.valorBaseFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.valorBaseAbertura">Valor Base Abertura</span></dt>
          <dd>
            <span>{{ planoAssinaturaContabil()!.valorBaseAbertura }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.planoAssinaturaContabil.situacao">Situacao</span></dt>
          <dd>
            <span
              [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoPlanoContabilEnum.' + (planoAssinaturaContabil()!.situacao ?? 'null')"
              >{{
                { null: '', ATIVO: 'ATIVO', INATIVO: 'INATIVO', EXCLUIDO: 'EXCLUIDO' }[planoAssinaturaContabil()!.situacao ?? 'null']
              }}</span
            >
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/plano-assinatura-contabil', planoAssinaturaContabil()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
