<div>
  <h2 id="page-heading" data-cy="AgendaContadorConfigHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.home.title">Agenda Contador Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agenda-contador-config"
        [routerLink]="['/agenda-contador-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.home.createLabel">Criar novo Agenda Contador Config</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (agendaContadorConfigs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.home.notFound">Nenhum Agenda Contador Config encontrado</span>
    </div>
  }

  @if (agendaContadorConfigs && agendaContadorConfigs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ativo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.ativo">Ativo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoVisualizacaoAgendaEnum">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.tipoVisualizacaoAgendaEnum"
                  >Tipo Visualizacao Agenda Enum</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agendaTarefaRecorrenteExecucao.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.agendaTarefaRecorrenteExecucao"
                  >Agenda Tarefa Recorrente Execucao</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agendaTarefaOrdemServicoExecucao.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaContadorConfig.agendaTarefaOrdemServicoExecucao"
                  >Agenda Tarefa Ordem Servico Execucao</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (agendaContadorConfig of agendaContadorConfigs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/agenda-contador-config', agendaContadorConfig.id, 'view']">{{ agendaContadorConfig.id }}</a>
              </td>
              <td>{{ agendaContadorConfig.ativo }}</td>
              <td
                [jhiTranslate]="
                  'erpDobemcontabilidadeApp.TipoVisualizacaoAgendaEnum.' + (agendaContadorConfig.tipoVisualizacaoAgendaEnum ?? 'null')
                "
              >
                {{
                  {
                    null: '',
                    RECORRENTE: 'RECORRENTE',
                    ORDEMSERVICO: 'ORDEMSERVICO',
                    SEMANAL: 'SEMANAL',
                    DIA: 'DIA',
                    MES: 'MES',
                    EMPRESA: 'EMPRESA',
                  }[agendaContadorConfig.tipoVisualizacaoAgendaEnum ?? 'null']
                }}
              </td>
              <td>
                @if (agendaContadorConfig.agendaTarefaRecorrenteExecucao) {
                  <div>
                    <a
                      [routerLink]="['/agenda-tarefa-recorrente-execucao', agendaContadorConfig.agendaTarefaRecorrenteExecucao.id, 'view']"
                      >{{ agendaContadorConfig.agendaTarefaRecorrenteExecucao.id }}</a
                    >
                  </div>
                }
              </td>
              <td>
                @if (agendaContadorConfig.agendaTarefaOrdemServicoExecucao) {
                  <div>
                    <a
                      [routerLink]="[
                        '/agenda-tarefa-ordem-servico-execucao',
                        agendaContadorConfig.agendaTarefaOrdemServicoExecucao.id,
                        'view',
                      ]"
                      >{{ agendaContadorConfig.agendaTarefaOrdemServicoExecucao.id }}</a
                    >
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/agenda-contador-config', agendaContadorConfig.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/agenda-contador-config', agendaContadorConfig.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(agendaContadorConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
