<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (areaContabilContador()) {
      <div>
        <h2 data-cy="areaContabilContadorDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.detail.title">Area Contabil Contador</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ areaContabilContador()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.percentualExperiencia">Percentual Experiencia</span></dt>
          <dd>
            <span>{{ areaContabilContador()!.percentualExperiencia }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.descricaoExperiencia">Descricao Experiencia</span></dt>
          <dd>
            <span>{{ areaContabilContador()!.descricaoExperiencia }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.pontuacaoEntrevista">Pontuacao Entrevista</span></dt>
          <dd>
            <span>{{ areaContabilContador()!.pontuacaoEntrevista }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.pontuacaoAvaliacao">Pontuacao Avaliacao</span></dt>
          <dd>
            <span>{{ areaContabilContador()!.pontuacaoAvaliacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.areaContabil">Area Contabil</span></dt>
          <dd>
            @if (areaContabilContador()!.areaContabil) {
              <div>
                <a [routerLink]="['/area-contabil', areaContabilContador()!.areaContabil?.id, 'view']">{{
                  areaContabilContador()!.areaContabil?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.areaContabilContador.contador">Contador</span></dt>
          <dd>
            @if (areaContabilContador()!.contador) {
              <div>
                <a [routerLink]="['/contador', areaContabilContador()!.contador?.id, 'view']">{{
                  areaContabilContador()!.contador?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/area-contabil-contador', areaContabilContador()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
