<div>
  <h2 id="page-heading" data-cy="SegmentoCnaeHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.home.title">Segmento Cnaes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-segmento-cnae"
        [routerLink]="['/segmento-cnae/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.home.createLabel">Criar novo Segmento Cnae</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (segmentoCnaes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.home.notFound">Nenhum Segmento Cnae encontrado</span>
    </div>
  }

  @if (segmentoCnaes && segmentoCnaes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="icon">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.icon">Icon</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagem">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.imagem">Imagem</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tags">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.tags">Tags</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.tipo">Tipo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ramo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.segmentoCnae.ramo">Ramo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (segmentoCnae of segmentoCnaes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/segmento-cnae', segmentoCnae.id, 'view']">{{ segmentoCnae.id }}</a>
              </td>
              <td>{{ segmentoCnae.nome }}</td>
              <td>{{ segmentoCnae.descricao }}</td>
              <td>{{ segmentoCnae.icon }}</td>
              <td>{{ segmentoCnae.imagem }}</td>
              <td>{{ segmentoCnae.tags }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.TipoSegmentoEnum.' + (segmentoCnae.tipo ?? 'null')">
                {{
                  { null: '', SERVICO: 'SERVICO', COMERCIO: 'COMERCIO', SERVICO_COMERCIO: 'SERVICO_COMERCIO', INDUSTRIA: 'INDUSTRIA' }[
                    segmentoCnae.tipo ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (segmentoCnae.ramo) {
                  <div>
                    <a [routerLink]="['/ramo', segmentoCnae.ramo.id, 'view']">{{ segmentoCnae.ramo.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/segmento-cnae', segmentoCnae.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/segmento-cnae', segmentoCnae.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(segmentoCnae)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (segmentoCnaes && segmentoCnaes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
