<div>
  <h2 id="page-heading" data-cy="AgendaTarefaOrdemServicoExecucaoHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.home.title">Agenda Tarefa Ordem Servico Execucaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agenda-tarefa-ordem-servico-execucao"
        [routerLink]="['/agenda-tarefa-ordem-servico-execucao/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.home.createLabel"
          >Criar novo Agenda Tarefa Ordem Servico Execucao</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (agendaTarefaOrdemServicoExecucaos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.home.notFound"
        >Nenhum Agenda Tarefa Ordem Servico Execucao encontrado</span
      >
    </div>
  }

  @if (agendaTarefaOrdemServicoExecucaos && agendaTarefaOrdemServicoExecucaos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horaInicio">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.horaInicio">Hora Inicio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horaFim">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.horaFim">Hora Fim</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diaInteiro">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.diaInteiro">Dia Inteiro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ativo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.ativo">Ativo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tarefaOrdemServicoExecucao.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.agendaTarefaOrdemServicoExecucao.tarefaOrdemServicoExecucao"
                  >Tarefa Ordem Servico Execucao</span
                >
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (agendaTarefaOrdemServicoExecucao of agendaTarefaOrdemServicoExecucaos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/agenda-tarefa-ordem-servico-execucao', agendaTarefaOrdemServicoExecucao.id, 'view']">{{
                  agendaTarefaOrdemServicoExecucao.id
                }}</a>
              </td>
              <td>{{ agendaTarefaOrdemServicoExecucao.horaInicio | formatMediumDatetime }}</td>
              <td>{{ agendaTarefaOrdemServicoExecucao.horaFim | formatMediumDatetime }}</td>
              <td>{{ agendaTarefaOrdemServicoExecucao.diaInteiro }}</td>
              <td>{{ agendaTarefaOrdemServicoExecucao.ativo }}</td>
              <td>
                @if (agendaTarefaOrdemServicoExecucao.tarefaOrdemServicoExecucao) {
                  <div>
                    <a
                      [routerLink]="[
                        '/tarefa-ordem-servico-execucao',
                        agendaTarefaOrdemServicoExecucao.tarefaOrdemServicoExecucao.id,
                        'view',
                      ]"
                      >{{ agendaTarefaOrdemServicoExecucao.tarefaOrdemServicoExecucao.nome }}</a
                    >
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/agenda-tarefa-ordem-servico-execucao', agendaTarefaOrdemServicoExecucao.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/agenda-tarefa-ordem-servico-execucao', agendaTarefaOrdemServicoExecucao.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(agendaTarefaOrdemServicoExecucao)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
