<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subtarefa()) {
      <div>
        <h2 data-cy="subtarefaDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.subtarefa.detail.title">Subtarefa</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ subtarefa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subtarefa.ordem">Ordem</span></dt>
          <dd>
            <span>{{ subtarefa()!.ordem }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subtarefa.item">Item</span></dt>
          <dd>
            <span>{{ subtarefa()!.item }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subtarefa.descricao">Descricao</span></dt>
          <dd>
            <span>{{ subtarefa()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subtarefa.tarefa">Tarefa</span></dt>
          <dd>
            @if (subtarefa()!.tarefa) {
              <div>
                <a [routerLink]="['/tarefa', subtarefa()!.tarefa?.id, 'view']">{{ subtarefa()!.tarefa?.titulo }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/subtarefa', subtarefa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
