<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (opcaoNomeFantasiaEmpresa()) {
      <div>
        <h2 data-cy="opcaoNomeFantasiaEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.opcaoNomeFantasiaEmpresa.detail.title">Opcao Nome Fantasia Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ opcaoNomeFantasiaEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoNomeFantasiaEmpresa.nome">Nome</span></dt>
          <dd>
            <span>{{ opcaoNomeFantasiaEmpresa()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoNomeFantasiaEmpresa.ordem">Ordem</span></dt>
          <dd>
            <span>{{ opcaoNomeFantasiaEmpresa()!.ordem }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoNomeFantasiaEmpresa.selecionado">Selecionado</span></dt>
          <dd>
            <span>{{ opcaoNomeFantasiaEmpresa()!.selecionado }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.opcaoNomeFantasiaEmpresa.empresa">Empresa</span></dt>
          <dd>
            @if (opcaoNomeFantasiaEmpresa()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', opcaoNomeFantasiaEmpresa()!.empresa?.id, 'view']">{{
                  opcaoNomeFantasiaEmpresa()!.empresa?.razaoSocial
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="['/opcao-nome-fantasia-empresa', opcaoNomeFantasiaEmpresa()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
