<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (frequencia()) {
      <div>
        <h2 data-cy="frequenciaDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.frequencia.detail.title">Frequencia</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ frequencia()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.frequencia.nome">Nome</span></dt>
          <dd>
            <span>{{ frequencia()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.frequencia.descricao">Descricao</span></dt>
          <dd>
            <span>{{ frequencia()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.frequencia.numeroDias">Numero Dias</span></dt>
          <dd>
            <span>{{ frequencia()!.numeroDias }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/frequencia', frequencia()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
