<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-desconto-plano-conta-azul-heading"
        data-cy="DescontoPlanoContaAzulCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContaAzul.home.createOrEditLabel"
      >
        Criar ou editar Desconto Plano Conta Azul
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContaAzul.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_percentual" jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContaAzul.percentual"
            >Percentual</label
          >
          <input
            type="number"
            class="form-control"
            name="percentual"
            id="field_percentual"
            data-cy="percentual"
            formControlName="percentual"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_planoContaAzul" jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContaAzul.planoContaAzul"
            >Plano Conta Azul</label
          >
          <select
            class="form-control"
            id="field_planoContaAzul"
            data-cy="planoContaAzul"
            name="planoContaAzul"
            formControlName="planoContaAzul"
            [compareWith]="comparePlanoContaAzul"
          >
            @if (editForm.get(['planoContaAzul'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (planoContaAzulOption of planoContaAzulsSharedCollection; track $index) {
              <option [ngValue]="planoContaAzulOption">{{ planoContaAzulOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['planoContaAzul'])!.invalid &&
          (editForm.get(['planoContaAzul'])!.dirty || editForm.get(['planoContaAzul'])!.touched)
        ) {
          <div>
            @if (editForm.get(['planoContaAzul'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_periodoPagamento"
            jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContaAzul.periodoPagamento"
            >Periodo Pagamento</label
          >
          <select
            class="form-control"
            id="field_periodoPagamento"
            data-cy="periodoPagamento"
            name="periodoPagamento"
            formControlName="periodoPagamento"
            [compareWith]="comparePeriodoPagamento"
          >
            @if (editForm.get(['periodoPagamento'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (periodoPagamentoOption of periodoPagamentosSharedCollection; track $index) {
              <option [ngValue]="periodoPagamentoOption">{{ periodoPagamentoOption.periodo }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['periodoPagamento'])!.invalid &&
          (editForm.get(['periodoPagamento'])!.dirty || editForm.get(['periodoPagamento'])!.touched)
        ) {
          <div>
            @if (editForm.get(['periodoPagamento'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
