<div>
  <h2 id="page-heading" data-cy="DepartamentoEmpresaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.home.title">Departamento Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-departamento-empresa"
        [routerLink]="['/departamento-empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.home.createLabel">Criar novo Departamento Empresa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (departamentoEmpresas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.home.notFound">Nenhum Departamento Empresa encontrado</span>
    </div>
  }

  @if (departamentoEmpresas && departamentoEmpresas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pontuacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.pontuacao">Pontuacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="depoimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.depoimento">Depoimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reclamacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.reclamacao">Reclamacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="departamento.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.departamento">Departamento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="empresa.razaoSocial">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.empresa">Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contador.crc">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.departamentoEmpresa.contador">Contador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (departamentoEmpresa of departamentoEmpresas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/departamento-empresa', departamentoEmpresa.id, 'view']">{{ departamentoEmpresa.id }}</a>
              </td>
              <td>{{ departamentoEmpresa.pontuacao }}</td>
              <td>{{ departamentoEmpresa.depoimento }}</td>
              <td>{{ departamentoEmpresa.reclamacao }}</td>
              <td>
                @if (departamentoEmpresa.departamento) {
                  <div>
                    <a [routerLink]="['/departamento', departamentoEmpresa.departamento.id, 'view']">{{
                      departamentoEmpresa.departamento.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (departamentoEmpresa.empresa) {
                  <div>
                    <a [routerLink]="['/empresa', departamentoEmpresa.empresa.id, 'view']">{{ departamentoEmpresa.empresa.razaoSocial }}</a>
                  </div>
                }
              </td>
              <td>
                @if (departamentoEmpresa.contador) {
                  <div>
                    <a [routerLink]="['/contador', departamentoEmpresa.contador.id, 'view']">{{ departamentoEmpresa.contador.crc }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/departamento-empresa', departamentoEmpresa.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/departamento-empresa', departamentoEmpresa.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(departamentoEmpresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (departamentoEmpresas && departamentoEmpresas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
