<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (funcionalidadeGrupoAcessoEmpresa()) {
      <div>
        <h2 data-cy="funcionalidadeGrupoAcessoEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.detail.title"
            >Funcionalidade Grupo Acesso Empresa</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ funcionalidadeGrupoAcessoEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.ativa">Ativa</span></dt>
          <dd>
            <span>{{ funcionalidadeGrupoAcessoEmpresa()!.ativa }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.dataExpiracao">Data Expiracao</span></dt>
          <dd>
            <span>{{ funcionalidadeGrupoAcessoEmpresa()!.dataExpiracao | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.ilimitado">Ilimitado</span></dt>
          <dd>
            <span>{{ funcionalidadeGrupoAcessoEmpresa()!.ilimitado }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.desabilitar">Desabilitar</span></dt>
          <dd>
            <span>{{ funcionalidadeGrupoAcessoEmpresa()!.desabilitar }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.funcionalidade">Funcionalidade</span></dt>
          <dd>
            @if (funcionalidadeGrupoAcessoEmpresa()!.funcionalidade) {
              <div>
                <a [routerLink]="['/funcionalidade', funcionalidadeGrupoAcessoEmpresa()!.funcionalidade?.id, 'view']">{{
                  funcionalidadeGrupoAcessoEmpresa()!.funcionalidade?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.grupoAcessoEmpresa">Grupo Acesso Empresa</span>
          </dt>
          <dd>
            @if (funcionalidadeGrupoAcessoEmpresa()!.grupoAcessoEmpresa) {
              <div>
                <a [routerLink]="['/grupo-acesso-empresa', funcionalidadeGrupoAcessoEmpresa()!.grupoAcessoEmpresa?.id, 'view']">{{
                  funcionalidadeGrupoAcessoEmpresa()!.grupoAcessoEmpresa?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionalidadeGrupoAcessoEmpresa.permisao">Permisao</span></dt>
          <dd>
            @if (funcionalidadeGrupoAcessoEmpresa()!.permisao) {
              <div>
                <a [routerLink]="['/permisao', funcionalidadeGrupoAcessoEmpresa()!.permisao?.id, 'view']">{{
                  funcionalidadeGrupoAcessoEmpresa()!.permisao?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button
          type="button"
          [routerLink]="['/funcionalidade-grupo-acesso-empresa', funcionalidadeGrupoAcessoEmpresa()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
