<div>
  <h2 id="page-heading" data-cy="CalculoPlanoAssinaturaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.home.title">Calculo Plano Assinaturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-calculo-plano-assinatura"
        [routerLink]="['/calculo-plano-assinatura/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.home.createLabel">Criar novo Calculo Plano Assinatura</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (calculoPlanoAssinaturas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.home.notFound">Nenhum Calculo Plano Assinatura encontrado</span>
    </div>
  }

  @if (calculoPlanoAssinaturas && calculoPlanoAssinaturas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigoAtendimento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.codigoAtendimento">Codigo Atendimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorEnquadramento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorEnquadramento">Valor Enquadramento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorTributacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorTributacao">Valor Tributacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorRamo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorRamo">Valor Ramo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorFuncionarios">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorFuncionarios">Valor Funcionarios</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorSocios">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorSocios">Valor Socios</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorFaturamento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorFaturamento">Valor Faturamento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPlanoContabil">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPlanoContabil">Valor Plano Contabil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPlanoContabilComDesconto">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPlanoContabilComDesconto"
                  >Valor Plano Contabil Com Desconto</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorMensalidade">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorMensalidade">Valor Mensalidade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPeriodo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPeriodo">Valor Periodo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorAno">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorAno">Valor Ano</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="periodoPagamento.periodo">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.periodoPagamento">Periodo Pagamento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planoContabil.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.planoContabil">Plano Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ramo.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.ramo">Ramo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tributacao.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.tributacao">Tributacao</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descontoPlanoContabil.percentual">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.descontoPlanoContabil">Desconto Plano Contabil</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assinaturaEmpresa.codigoAssinatura">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.assinaturaEmpresa">Assinatura Empresa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descontoPlanoContaAzul.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.descontoPlanoContaAzul">Desconto Plano Conta Azul</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="planoContaAzul.id">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.planoContaAzul">Plano Conta Azul</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (calculoPlanoAssinatura of calculoPlanoAssinaturas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/calculo-plano-assinatura', calculoPlanoAssinatura.id, 'view']">{{ calculoPlanoAssinatura.id }}</a>
              </td>
              <td>{{ calculoPlanoAssinatura.codigoAtendimento }}</td>
              <td>{{ calculoPlanoAssinatura.valorEnquadramento }}</td>
              <td>{{ calculoPlanoAssinatura.valorTributacao }}</td>
              <td>{{ calculoPlanoAssinatura.valorRamo }}</td>
              <td>{{ calculoPlanoAssinatura.valorFuncionarios }}</td>
              <td>{{ calculoPlanoAssinatura.valorSocios }}</td>
              <td>{{ calculoPlanoAssinatura.valorFaturamento }}</td>
              <td>{{ calculoPlanoAssinatura.valorPlanoContabil }}</td>
              <td>{{ calculoPlanoAssinatura.valorPlanoContabilComDesconto }}</td>
              <td>{{ calculoPlanoAssinatura.valorMensalidade }}</td>
              <td>{{ calculoPlanoAssinatura.valorPeriodo }}</td>
              <td>{{ calculoPlanoAssinatura.valorAno }}</td>
              <td>
                @if (calculoPlanoAssinatura.periodoPagamento) {
                  <div>
                    <a [routerLink]="['/periodo-pagamento', calculoPlanoAssinatura.periodoPagamento.id, 'view']">{{
                      calculoPlanoAssinatura.periodoPagamento.periodo
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.planoContabil) {
                  <div>
                    <a [routerLink]="['/plano-contabil', calculoPlanoAssinatura.planoContabil.id, 'view']">{{
                      calculoPlanoAssinatura.planoContabil.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.ramo) {
                  <div>
                    <a [routerLink]="['/ramo', calculoPlanoAssinatura.ramo.id, 'view']">{{ calculoPlanoAssinatura.ramo.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.tributacao) {
                  <div>
                    <a [routerLink]="['/tributacao', calculoPlanoAssinatura.tributacao.id, 'view']">{{
                      calculoPlanoAssinatura.tributacao.nome
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.descontoPlanoContabil) {
                  <div>
                    <a [routerLink]="['/desconto-plano-contabil', calculoPlanoAssinatura.descontoPlanoContabil.id, 'view']">{{
                      calculoPlanoAssinatura.descontoPlanoContabil.percentual
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.assinaturaEmpresa) {
                  <div>
                    <a [routerLink]="['/assinatura-empresa', calculoPlanoAssinatura.assinaturaEmpresa.id, 'view']">{{
                      calculoPlanoAssinatura.assinaturaEmpresa.codigoAssinatura
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.descontoPlanoContaAzul) {
                  <div>
                    <a [routerLink]="['/desconto-plano-conta-azul', calculoPlanoAssinatura.descontoPlanoContaAzul.id, 'view']">{{
                      calculoPlanoAssinatura.descontoPlanoContaAzul.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (calculoPlanoAssinatura.planoContaAzul) {
                  <div>
                    <a [routerLink]="['/plano-conta-azul', calculoPlanoAssinatura.planoContaAzul.id, 'view']">{{
                      calculoPlanoAssinatura.planoContaAzul.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/calculo-plano-assinatura', calculoPlanoAssinatura.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/calculo-plano-assinatura', calculoPlanoAssinatura.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(calculoPlanoAssinatura)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (calculoPlanoAssinaturas && calculoPlanoAssinaturas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
