<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-usuario-gestao-heading"
        data-cy="UsuarioGestaoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.home.createOrEditLabel"
      >
        Criar ou editar Usuario Gestao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (editForm.get('email')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Este campo não pode ter mais de 200 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_senha" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.senha">Senha</label>
          <textarea class="form-control" name="senha" id="field_senha" data-cy="senha" formControlName="senha"></textarea>
          @if (editForm.get('senha')!.invalid && (editForm.get('senha')!.dirty || editForm.get('senha')!.touched)) {
            <div>
              @if (editForm.get('senha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_token" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.token">Token</label>
          <textarea class="form-control" name="token" id="field_token" data-cy="token" formControlName="token"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ativo" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.ativo">Ativo</label>
          <input type="checkbox" class="form-check" name="ativo" id="field_ativo" data-cy="ativo" formControlName="ativo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataHoraAtivacao" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.dataHoraAtivacao"
            >Data Hora Ativacao</label
          >
          <div class="d-flex">
            <input
              id="field_dataHoraAtivacao"
              data-cy="dataHoraAtivacao"
              type="datetime-local"
              class="form-control"
              name="dataHoraAtivacao"
              formControlName="dataHoraAtivacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataLimiteAcesso" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.dataLimiteAcesso"
            >Data Limite Acesso</label
          >
          <div class="d-flex">
            <input
              id="field_dataLimiteAcesso"
              data-cy="dataLimiteAcesso"
              type="datetime-local"
              class="form-control"
              name="dataLimiteAcesso"
              formControlName="dataLimiteAcesso"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_situacaoUsuarioGestao"
            jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.situacaoUsuarioGestao"
            >Situacao Usuario Gestao</label
          >
          <select
            class="form-control"
            name="situacaoUsuarioGestao"
            formControlName="situacaoUsuarioGestao"
            id="field_situacaoUsuarioGestao"
            data-cy="situacaoUsuarioGestao"
          >
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.SituacaoUsuarioGestaoEnum.null' | translate }}</option>
            @for (situacaoUsuarioGestaoEnum of situacaoUsuarioGestaoEnumValues; track $index) {
              <option [value]="situacaoUsuarioGestaoEnum">
                {{ 'erpDobemcontabilidadeApp.SituacaoUsuarioGestaoEnum.' + situacaoUsuarioGestaoEnum | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_administrador" jhiTranslate="erpDobemcontabilidadeApp.usuarioGestao.administrador"
            >Administrador</label
          >
          <select
            class="form-control"
            id="field_administrador"
            data-cy="administrador"
            name="administrador"
            formControlName="administrador"
            [compareWith]="compareAdministrador"
          >
            @if (editForm.get(['administrador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (administradorOption of administradorsCollection; track $index) {
              <option [ngValue]="administradorOption">{{ administradorOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['administrador'])!.invalid && (editForm.get(['administrador'])!.dirty || editForm.get(['administrador'])!.touched)
        ) {
          <div>
            @if (editForm.get(['administrador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
