<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (departamentoContador()) {
      <div>
        <h2 data-cy="departamentoContadorDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.detail.title">Departamento Contador</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ departamentoContador()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.percentualExperiencia">Percentual Experiencia</span></dt>
          <dd>
            <span>{{ departamentoContador()!.percentualExperiencia }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.descricaoExperiencia">Descricao Experiencia</span></dt>
          <dd>
            <span>{{ departamentoContador()!.descricaoExperiencia }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.pontuacaoEntrevista">Pontuacao Entrevista</span></dt>
          <dd>
            <span>{{ departamentoContador()!.pontuacaoEntrevista }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.pontuacaoAvaliacao">Pontuacao Avaliacao</span></dt>
          <dd>
            <span>{{ departamentoContador()!.pontuacaoAvaliacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.departamento">Departamento</span></dt>
          <dd>
            @if (departamentoContador()!.departamento) {
              <div>
                <a [routerLink]="['/departamento', departamentoContador()!.departamento?.id, 'view']">{{
                  departamentoContador()!.departamento?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.departamentoContador.contador">Contador</span></dt>
          <dd>
            @if (departamentoContador()!.contador) {
              <div>
                <a [routerLink]="['/contador', departamentoContador()!.contador?.id, 'view']">{{
                  departamentoContador()!.contador?.crc
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/departamento-contador', departamentoContador()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
