<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-termo-contrato-contabil-heading"
        data-cy="TermoContratoContabilCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.home.createOrEditLabel"
      >
        Criar ou editar Termo Contrato Contabil
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_titulo" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.descricao"
            >Descricao</label
          >
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_urlDocumentoFonte"
            jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.urlDocumentoFonte"
            >Url Documento Fonte</label
          >
          <textarea
            class="form-control"
            name="urlDocumentoFonte"
            id="field_urlDocumentoFonte"
            data-cy="urlDocumentoFonte"
            formControlName="urlDocumentoFonte"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documento" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.documento"
            >Documento</label
          >
          <textarea class="form-control" name="documento" id="field_documento" data-cy="documento" formControlName="documento"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disponivel" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.disponivel"
            >Disponivel</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="disponivel"
            id="field_disponivel"
            data-cy="disponivel"
            formControlName="disponivel"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataCriacao" jhiTranslate="erpDobemcontabilidadeApp.termoContratoContabil.dataCriacao"
            >Data Criacao</label
          >
          <div class="d-flex">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="datetime-local"
              class="form-control"
              name="dataCriacao"
              formControlName="dataCriacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
