<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ordem-servico-heading"
        data-cy="OrdemServicoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.ordemServico.home.createOrEditLabel"
      >
        Criar ou editar Ordem Servico
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_valor" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prazo" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.prazo">Prazo</label>
          <div class="d-flex">
            <input
              id="field_prazo"
              data-cy="prazo"
              type="datetime-local"
              class="form-control"
              name="prazo"
              formControlName="prazo"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dataCriacao" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.dataCriacao"
            >Data Criacao</label
          >
          <div class="d-flex">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="datetime-local"
              class="form-control"
              name="dataCriacao"
              formControlName="dataCriacao"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_dataHoraCancelamento"
            jhiTranslate="erpDobemcontabilidadeApp.ordemServico.dataHoraCancelamento"
            >Data Hora Cancelamento</label
          >
          <div class="d-flex">
            <input
              id="field_dataHoraCancelamento"
              data-cy="dataHoraCancelamento"
              type="datetime-local"
              class="form-control"
              name="dataHoraCancelamento"
              formControlName="dataHoraCancelamento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statusDaOS" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.statusDaOS"
            >Status Da OS</label
          >
          <select class="form-control" name="statusDaOS" formControlName="statusDaOS" id="field_statusDaOS" data-cy="statusDaOS">
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.StatusDaOSEnum.null' | translate }}</option>
            @for (statusDaOSEnum of statusDaOSEnumValues; track $index) {
              <option [value]="statusDaOSEnum">{{ 'erpDobemcontabilidadeApp.StatusDaOSEnum.' + statusDaOSEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_empresa" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.empresa">Empresa</label>
          <select
            class="form-control"
            id="field_empresa"
            data-cy="empresa"
            name="empresa"
            formControlName="empresa"
            [compareWith]="compareEmpresa"
          >
            @if (editForm.get(['empresa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (empresaOption of empresasSharedCollection; track $index) {
              <option [ngValue]="empresaOption">{{ empresaOption.razaoSocial }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['empresa'])!.invalid && (editForm.get(['empresa'])!.dirty || editForm.get(['empresa'])!.touched)) {
          <div>
            @if (editForm.get(['empresa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_contador" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.contador">Contador</label>
          <select
            class="form-control"
            id="field_contador"
            data-cy="contador"
            name="contador"
            formControlName="contador"
            [compareWith]="compareContador"
          >
            @if (editForm.get(['contador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (contadorOption of contadorsSharedCollection; track $index) {
              <option [ngValue]="contadorOption">{{ contadorOption.crc }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['contador'])!.invalid && (editForm.get(['contador'])!.dirty || editForm.get(['contador'])!.touched)) {
          <div>
            @if (editForm.get(['contador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_fluxoModelo" jhiTranslate="erpDobemcontabilidadeApp.ordemServico.fluxoModelo"
            >Fluxo Modelo</label
          >
          <select
            class="form-control"
            id="field_fluxoModelo"
            data-cy="fluxoModelo"
            name="fluxoModelo"
            formControlName="fluxoModelo"
            [compareWith]="compareFluxoModelo"
          >
            <option [ngValue]="null"></option>
            @for (fluxoModeloOption of fluxoModelosSharedCollection; track $index) {
              <option [ngValue]="fluxoModeloOption">{{ fluxoModeloOption.nome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
