<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (termoDeAdesao()) {
      <div>
        <h2 data-cy="termoDeAdesaoDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.termoDeAdesao.detail.title">Termo De Adesao</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ termoDeAdesao()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoDeAdesao.titulo">Titulo</span></dt>
          <dd>
            <span>{{ termoDeAdesao()!.titulo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.termoDeAdesao.descricao">Descricao</span></dt>
          <dd>
            <span>{{ termoDeAdesao()!.descricao }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/termo-de-adesao', termoDeAdesao()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
