<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (descontoPlanoContabil()) {
      <div>
        <h2 data-cy="descontoPlanoContabilDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContabil.detail.title">Desconto Plano Contabil</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ descontoPlanoContabil()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContabil.percentual">Percentual</span></dt>
          <dd>
            <span>{{ descontoPlanoContabil()!.percentual }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContabil.periodoPagamento">Periodo Pagamento</span></dt>
          <dd>
            @if (descontoPlanoContabil()!.periodoPagamento) {
              <div>
                <a [routerLink]="['/periodo-pagamento', descontoPlanoContabil()!.periodoPagamento?.id, 'view']">{{
                  descontoPlanoContabil()!.periodoPagamento?.periodo
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.descontoPlanoContabil.planoContabil">Plano Contabil</span></dt>
          <dd>
            @if (descontoPlanoContabil()!.planoContabil) {
              <div>
                <a [routerLink]="['/plano-contabil', descontoPlanoContabil()!.planoContabil?.id, 'view']">{{
                  descontoPlanoContabil()!.planoContabil?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/desconto-plano-contabil', descontoPlanoContabil()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
