<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (calculoPlanoAssinatura()) {
      <div>
        <h2 data-cy="calculoPlanoAssinaturaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.detail.title">Calculo Plano Assinatura</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.codigoAtendimento">Codigo Atendimento</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.codigoAtendimento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorEnquadramento">Valor Enquadramento</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorEnquadramento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorTributacao">Valor Tributacao</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorTributacao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorRamo">Valor Ramo</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorRamo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorFuncionarios">Valor Funcionarios</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorFuncionarios }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorSocios">Valor Socios</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorSocios }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorFaturamento">Valor Faturamento</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorFaturamento }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPlanoContabil">Valor Plano Contabil</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorPlanoContabil }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPlanoContabilComDesconto"
              >Valor Plano Contabil Com Desconto</span
            >
          </dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorPlanoContabilComDesconto }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorMensalidade">Valor Mensalidade</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorMensalidade }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorPeriodo">Valor Periodo</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorPeriodo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.valorAno">Valor Ano</span></dt>
          <dd>
            <span>{{ calculoPlanoAssinatura()!.valorAno }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.periodoPagamento">Periodo Pagamento</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.periodoPagamento) {
              <div>
                <a [routerLink]="['/periodo-pagamento', calculoPlanoAssinatura()!.periodoPagamento?.id, 'view']">{{
                  calculoPlanoAssinatura()!.periodoPagamento?.periodo
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.planoContabil">Plano Contabil</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.planoContabil) {
              <div>
                <a [routerLink]="['/plano-contabil', calculoPlanoAssinatura()!.planoContabil?.id, 'view']">{{
                  calculoPlanoAssinatura()!.planoContabil?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.ramo">Ramo</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.ramo) {
              <div>
                <a [routerLink]="['/ramo', calculoPlanoAssinatura()!.ramo?.id, 'view']">{{ calculoPlanoAssinatura()!.ramo?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.tributacao">Tributacao</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.tributacao) {
              <div>
                <a [routerLink]="['/tributacao', calculoPlanoAssinatura()!.tributacao?.id, 'view']">{{
                  calculoPlanoAssinatura()!.tributacao?.nome
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.descontoPlanoContabil">Desconto Plano Contabil</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.descontoPlanoContabil) {
              <div>
                <a [routerLink]="['/desconto-plano-contabil', calculoPlanoAssinatura()!.descontoPlanoContabil?.id, 'view']">{{
                  calculoPlanoAssinatura()!.descontoPlanoContabil?.percentual
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.assinaturaEmpresa">Assinatura Empresa</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.assinaturaEmpresa) {
              <div>
                <a [routerLink]="['/assinatura-empresa', calculoPlanoAssinatura()!.assinaturaEmpresa?.id, 'view']">{{
                  calculoPlanoAssinatura()!.assinaturaEmpresa?.codigoAssinatura
                }}</a>
              </div>
            }
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.descontoPlanoContaAzul">Desconto Plano Conta Azul</span>
          </dt>
          <dd>
            @if (calculoPlanoAssinatura()!.descontoPlanoContaAzul) {
              <div>
                <a [routerLink]="['/desconto-plano-conta-azul', calculoPlanoAssinatura()!.descontoPlanoContaAzul?.id, 'view']">{{
                  calculoPlanoAssinatura()!.descontoPlanoContaAzul?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.calculoPlanoAssinatura.planoContaAzul">Plano Conta Azul</span></dt>
          <dd>
            @if (calculoPlanoAssinatura()!.planoContaAzul) {
              <div>
                <a [routerLink]="['/plano-conta-azul', calculoPlanoAssinatura()!.planoContaAzul?.id, 'view']">{{
                  calculoPlanoAssinatura()!.planoContaAzul?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/calculo-plano-assinatura', calculoPlanoAssinatura()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
