<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (funcionario()) {
      <div>
        <h2 data-cy="funcionarioDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.funcionario.detail.title">Funcionario</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ funcionario()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.nome">Nome</span></dt>
          <dd>
            <span>{{ funcionario()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.salario">Salario</span></dt>
          <dd>
            <span>{{ funcionario()!.salario }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.ctps">Ctps</span></dt>
          <dd>
            <span>{{ funcionario()!.ctps }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.cargo">Cargo</span></dt>
          <dd>
            <span>{{ funcionario()!.cargo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.descricaoAtividades">Descricao Atividades</span></dt>
          <dd>
            <span>{{ funcionario()!.descricaoAtividades }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.situacao">Situacao</span></dt>
          <dd>
            <span [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoFuncionarioEnum.' + (funcionario()!.situacao ?? 'null')">{{
              {
                null: '',
                ADMITIDO: 'ADMITIDO',
                AFASTADO: 'AFASTADO',
                DEMITIDO: 'DEMITIDO',
                EXPERIENCIA: 'EXPERIENCIA',
                DEMITIDO_JUSTA_CAUSA: 'DEMITIDO_JUSTA_CAUSA',
              }[funcionario()!.situacao ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.pessoa">Pessoa</span></dt>
          <dd>
            @if (funcionario()!.pessoa) {
              <div>
                <a [routerLink]="['/pessoa', funcionario()!.pessoa?.id, 'view']">{{ funcionario()!.pessoa?.nome }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.funcionario.empresa">Empresa</span></dt>
          <dd>
            @if (funcionario()!.empresa) {
              <div>
                <a [routerLink]="['/empresa', funcionario()!.empresa?.id, 'view']">{{ funcionario()!.empresa?.razaoSocial }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/funcionario', funcionario()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
