<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-forma-de-pagamento-heading"
        data-cy="FormaDePagamentoCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.formaDePagamento.home.createOrEditLabel"
      >
        Criar ou editar Forma De Pagamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.formaDePagamento.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_forma" jhiTranslate="erpDobemcontabilidadeApp.formaDePagamento.forma">Forma</label>
          <input type="text" class="form-control" name="forma" id="field_forma" data-cy="forma" formControlName="forma" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.formaDePagamento.descricao"
            >Descricao</label
          >
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disponivel" jhiTranslate="erpDobemcontabilidadeApp.formaDePagamento.disponivel"
            >Disponivel</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="disponivel"
            id="field_disponivel"
            data-cy="disponivel"
            formControlName="disponivel"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
