<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contador-heading"
        data-cy="ContadorCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.contador.home.createOrEditLabel"
      >
        Criar ou editar Contador
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.contador.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_crc" jhiTranslate="erpDobemcontabilidadeApp.contador.crc">Crc</label>
          <input type="text" class="form-control" name="crc" id="field_crc" data-cy="crc" formControlName="crc" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_limiteEmpresas" jhiTranslate="erpDobemcontabilidadeApp.contador.limiteEmpresas"
            >Limite Empresas</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteEmpresas"
            id="field_limiteEmpresas"
            data-cy="limiteEmpresas"
            formControlName="limiteEmpresas"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_limiteDepartamentos" jhiTranslate="erpDobemcontabilidadeApp.contador.limiteDepartamentos"
            >Limite Departamentos</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteDepartamentos"
            id="field_limiteDepartamentos"
            data-cy="limiteDepartamentos"
            formControlName="limiteDepartamentos"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_limiteFaturamento" jhiTranslate="erpDobemcontabilidadeApp.contador.limiteFaturamento"
            >Limite Faturamento</label
          >
          <input
            type="number"
            class="form-control"
            name="limiteFaturamento"
            id="field_limiteFaturamento"
            data-cy="limiteFaturamento"
            formControlName="limiteFaturamento"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_situacaoContador" jhiTranslate="erpDobemcontabilidadeApp.contador.situacaoContador"
            >Situacao Contador</label
          >
          <select
            class="form-control"
            name="situacaoContador"
            formControlName="situacaoContador"
            id="field_situacaoContador"
            data-cy="situacaoContador"
          >
            <option [ngValue]="null">{{ 'erpDobemcontabilidadeApp.SituacaoContadorEnum.null' | translate }}</option>
            @for (situacaoContadorEnum of situacaoContadorEnumValues; track $index) {
              <option [value]="situacaoContadorEnum">
                {{ 'erpDobemcontabilidadeApp.SituacaoContadorEnum.' + situacaoContadorEnum | translate }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pessoa" jhiTranslate="erpDobemcontabilidadeApp.contador.pessoa">Pessoa</label>
          <select
            class="form-control"
            id="field_pessoa"
            data-cy="pessoa"
            name="pessoa"
            formControlName="pessoa"
            [compareWith]="comparePessoa"
          >
            @if (editForm.get(['pessoa'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (pessoaOption of pessoasCollection; track $index) {
              <option [ngValue]="pessoaOption">{{ pessoaOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['pessoa'])!.invalid && (editForm.get(['pessoa'])!.dirty || editForm.get(['pessoa'])!.touched)) {
          <div>
            @if (editForm.get(['pessoa'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_usuarioContador" jhiTranslate="erpDobemcontabilidadeApp.contador.usuarioContador"
            >Usuario Contador</label
          >
          <select
            class="form-control"
            id="field_usuarioContador"
            data-cy="usuarioContador"
            name="usuarioContador"
            formControlName="usuarioContador"
            [compareWith]="compareUsuarioContador"
          >
            @if (editForm.get(['usuarioContador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (usuarioContadorOption of usuarioContadorsCollection; track $index) {
              <option [ngValue]="usuarioContadorOption">{{ usuarioContadorOption.email }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['usuarioContador'])!.invalid &&
          (editForm.get(['usuarioContador'])!.dirty || editForm.get(['usuarioContador'])!.touched)
        ) {
          <div>
            @if (editForm.get(['usuarioContador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_perfilContador" jhiTranslate="erpDobemcontabilidadeApp.contador.perfilContador"
            >Perfil Contador</label
          >
          <select
            class="form-control"
            id="field_perfilContador"
            data-cy="perfilContador"
            name="perfilContador"
            formControlName="perfilContador"
            [compareWith]="comparePerfilContador"
          >
            @if (editForm.get(['perfilContador'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (perfilContadorOption of perfilContadorsSharedCollection; track $index) {
              <option [ngValue]="perfilContadorOption">{{ perfilContadorOption.perfil }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['perfilContador'])!.invalid &&
          (editForm.get(['perfilContador'])!.dirty || editForm.get(['perfilContador'])!.touched)
        ) {
          <div>
            @if (editForm.get(['perfilContador'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
