<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-divisao-cnae-heading"
        data-cy="DivisaoCnaeCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.divisaoCnae.home.createOrEditLabel"
      >
        Criar ou editar Divisao Cnae
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.divisaoCnae.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_codigo" jhiTranslate="erpDobemcontabilidadeApp.divisaoCnae.codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          @if (editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)) {
            <div>
              @if (editForm.get('codigo')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '15' }"
                  >Este campo não pode ter mais de 15 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="erpDobemcontabilidadeApp.divisaoCnae.descricao">Descricao</label>
          <textarea class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao"></textarea>
          @if (editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)) {
            <div>
              @if (editForm.get('descricao')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_secao" jhiTranslate="erpDobemcontabilidadeApp.divisaoCnae.secao">Secao</label>
          <select
            class="form-control"
            id="field_secao"
            data-cy="secao"
            name="secao"
            formControlName="secao"
            [compareWith]="compareSecaoCnae"
          >
            @if (editForm.get(['secao'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (secaoCnaeOption of secaoCnaesSharedCollection; track $index) {
              <option [ngValue]="secaoCnaeOption">{{ secaoCnaeOption.descricao }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['secao'])!.invalid && (editForm.get(['secao'])!.dirty || editForm.get(['secao'])!.touched)) {
          <div>
            @if (editForm.get(['secao'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
