<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (grupoAcessoEmpresa()) {
      <div>
        <h2 data-cy="grupoAcessoEmpresaDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.grupoAcessoEmpresa.detail.title">Grupo Acesso Empresa</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ grupoAcessoEmpresa()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.grupoAcessoEmpresa.nome">Nome</span></dt>
          <dd>
            <span>{{ grupoAcessoEmpresa()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.grupoAcessoEmpresa.assinaturaEmpresa">Assinatura Empresa</span></dt>
          <dd>
            @if (grupoAcessoEmpresa()!.assinaturaEmpresa) {
              <div>
                <a [routerLink]="['/assinatura-empresa', grupoAcessoEmpresa()!.assinaturaEmpresa?.id, 'view']">{{
                  grupoAcessoEmpresa()!.assinaturaEmpresa?.codigoAssinatura
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/grupo-acesso-empresa', grupoAcessoEmpresa()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
