<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-anexo-requerido-tarefa-recorrente-heading"
        data-cy="AnexoRequeridoTarefaRecorrenteCreateUpdateHeading"
        jhiTranslate="erpDobemcontabilidadeApp.anexoRequeridoTarefaRecorrente.home.createOrEditLabel"
      >
        Criar ou editar Anexo Requerido Tarefa Recorrente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="erpDobemcontabilidadeApp.anexoRequeridoTarefaRecorrente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_obrigatorio"
            jhiTranslate="erpDobemcontabilidadeApp.anexoRequeridoTarefaRecorrente.obrigatorio"
            >Obrigatorio</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="obrigatorio"
            id="field_obrigatorio"
            data-cy="obrigatorio"
            formControlName="obrigatorio"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_anexoRequerido"
            jhiTranslate="erpDobemcontabilidadeApp.anexoRequeridoTarefaRecorrente.anexoRequerido"
            >Anexo Requerido</label
          >
          <select
            class="form-control"
            id="field_anexoRequerido"
            data-cy="anexoRequerido"
            name="anexoRequerido"
            formControlName="anexoRequerido"
            [compareWith]="compareAnexoRequerido"
          >
            @if (editForm.get(['anexoRequerido'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (anexoRequeridoOption of anexoRequeridosSharedCollection; track $index) {
              <option [ngValue]="anexoRequeridoOption">{{ anexoRequeridoOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['anexoRequerido'])!.invalid &&
          (editForm.get(['anexoRequerido'])!.dirty || editForm.get(['anexoRequerido'])!.touched)
        ) {
          <div>
            @if (editForm.get(['anexoRequerido'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_tarefaRecorrente"
            jhiTranslate="erpDobemcontabilidadeApp.anexoRequeridoTarefaRecorrente.tarefaRecorrente"
            >Tarefa Recorrente</label
          >
          <select
            class="form-control"
            id="field_tarefaRecorrente"
            data-cy="tarefaRecorrente"
            name="tarefaRecorrente"
            formControlName="tarefaRecorrente"
            [compareWith]="compareTarefaRecorrente"
          >
            @if (editForm.get(['tarefaRecorrente'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (tarefaRecorrenteOption of tarefaRecorrentesSharedCollection; track $index) {
              <option [ngValue]="tarefaRecorrenteOption">{{ tarefaRecorrenteOption.nome }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['tarefaRecorrente'])!.invalid &&
          (editForm.get(['tarefaRecorrente'])!.dirty || editForm.get(['tarefaRecorrente'])!.touched)
        ) {
          <div>
            @if (editForm.get(['tarefaRecorrente'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
