<div>
  <h2 id="page-heading" data-cy="EnderecoPessoaHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.home.title">Endereco Pessoas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-endereco-pessoa"
        [routerLink]="['/endereco-pessoa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.home.createLabel">Criar novo Endereco Pessoa</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (enderecoPessoas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.home.notFound">Nenhum Endereco Pessoa encontrado</span>
    </div>
  }

  @if (enderecoPessoas && enderecoPessoas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logradouro">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.logradouro">Logradouro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numero">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.numero">Numero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="complemento">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.complemento">Complemento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bairro">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.bairro">Bairro</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cep">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.cep">Cep</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="principal">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.principal">Principal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pessoa.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.pessoa">Pessoa</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cidade.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.enderecoPessoa.cidade">Cidade</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (enderecoPessoa of enderecoPessoas; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/endereco-pessoa', enderecoPessoa.id, 'view']">{{ enderecoPessoa.id }}</a>
              </td>
              <td>{{ enderecoPessoa.logradouro }}</td>
              <td>{{ enderecoPessoa.numero }}</td>
              <td>{{ enderecoPessoa.complemento }}</td>
              <td>{{ enderecoPessoa.bairro }}</td>
              <td>{{ enderecoPessoa.cep }}</td>
              <td>{{ enderecoPessoa.principal }}</td>
              <td>
                @if (enderecoPessoa.pessoa) {
                  <div>
                    <a [routerLink]="['/pessoa-fisica', enderecoPessoa.pessoa.id, 'view']">{{ enderecoPessoa.pessoa.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (enderecoPessoa.cidade) {
                  <div>
                    <a [routerLink]="['/cidade', enderecoPessoa.cidade.id, 'view']">{{ enderecoPessoa.cidade.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/endereco-pessoa', enderecoPessoa.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/endereco-pessoa', enderecoPessoa.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(enderecoPessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
