<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subTarefaRecorrente()) {
      <div>
        <h2 data-cy="subTarefaRecorrenteDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.detail.title">Sub Tarefa Recorrente</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ subTarefaRecorrente()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.nome">Nome</span></dt>
          <dd>
            <span>{{ subTarefaRecorrente()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.descricao">Descricao</span></dt>
          <dd>
            <span>{{ subTarefaRecorrente()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.ordem">Ordem</span></dt>
          <dd>
            <span>{{ subTarefaRecorrente()!.ordem }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.concluida">Concluida</span></dt>
          <dd>
            <span>{{ subTarefaRecorrente()!.concluida }}</span>
          </dd>
          <dt>
            <span jhiTranslate="erpDobemcontabilidadeApp.subTarefaRecorrente.tarefaRecorrenteExecucao">Tarefa Recorrente Execucao</span>
          </dt>
          <dd>
            @if (subTarefaRecorrente()!.tarefaRecorrenteExecucao) {
              <div>
                <a [routerLink]="['/tarefa-recorrente-execucao', subTarefaRecorrente()!.tarefaRecorrenteExecucao?.id, 'view']">{{
                  subTarefaRecorrente()!.tarefaRecorrenteExecucao?.nome
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/sub-tarefa-recorrente', subTarefaRecorrente()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
