<div>
  <h2 id="page-heading" data-cy="UsuarioErpHeading">
    <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.home.title">Usuario Erps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario-erp"
        [routerLink]="['/usuario-erp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.home.createLabel">Criar novo Usuario Erp</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (usuarioErps?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.home.notFound">Nenhum Usuario Erp encontrado</span>
    </div>
  }

  @if (usuarioErps && usuarioErps.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="senha">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.senha">Senha</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataHoraAtivacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.dataHoraAtivacao">Data Hora Ativacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataLimiteAcesso">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.dataLimiteAcesso">Data Limite Acesso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="situacao">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.situacao">Situacao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="administrador.nome">
              <div class="d-flex">
                <span jhiTranslate="erpDobemcontabilidadeApp.usuarioErp.administrador">Administrador</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (usuarioErp of usuarioErps; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usuario-erp', usuarioErp.id, 'view']">{{ usuarioErp.id }}</a>
              </td>
              <td>{{ usuarioErp.email }}</td>
              <td>{{ usuarioErp.senha }}</td>
              <td>{{ usuarioErp.dataHoraAtivacao | formatMediumDatetime }}</td>
              <td>{{ usuarioErp.dataLimiteAcesso | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'erpDobemcontabilidadeApp.SituacaoUsuarioErpEnum.' + (usuarioErp.situacao ?? 'null')">
                {{
                  { null: '', ATIVO: 'ATIVO', INATIVO: 'INATIVO', BLOQUEADO: 'BLOQUEADO', EXCLUIDO: 'EXCLUIDO' }[
                    usuarioErp.situacao ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (usuarioErp.administrador) {
                  <div>
                    <a [routerLink]="['/administrador', usuarioErp.administrador.id, 'view']">{{ usuarioErp.administrador.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/usuario-erp', usuarioErp.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/usuario-erp', usuarioErp.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(usuarioErp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
