<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subclasseCnae()) {
      <div>
        <h2 data-cy="subclasseCnaeDetailsHeading">
          <span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.detail.title">Subclasse Cnae</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.codigo">Codigo</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.codigo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.descricao">Descricao</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.anexo">Anexo</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.anexo }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.atendidoFreemium">Atendido Freemium</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.atendidoFreemium }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.atendido">Atendido</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.atendido }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.optanteSimples">Optante Simples</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.optanteSimples }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.aceitaMEI">Aceita MEI</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.aceitaMEI }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.categoria">Categoria</span></dt>
          <dd>
            <span>{{ subclasseCnae()!.categoria }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.classe">Classe</span></dt>
          <dd>
            @if (subclasseCnae()!.classe) {
              <div>
                <a [routerLink]="['/classe-cnae', subclasseCnae()!.classe?.id, 'view']">{{ subclasseCnae()!.classe?.descricao }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.subclasseCnae.segmentoCnae">Segmento Cnae</span></dt>
          <dd>
            @for (segmentoCnae of subclasseCnae()!.segmentoCnaes; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/segmento-cnae', segmentoCnae.id, 'view']">{{ segmentoCnae?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/subclasse-cnae', subclasseCnae()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
