<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (redeSocial()) {
      <div>
        <h2 data-cy="redeSocialDetailsHeading"><span jhiTranslate="erpDobemcontabilidadeApp.redeSocial.detail.title">Rede Social</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ redeSocial()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.redeSocial.nome">Nome</span></dt>
          <dd>
            <span>{{ redeSocial()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.redeSocial.descricao">Descricao</span></dt>
          <dd>
            <span>{{ redeSocial()!.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.redeSocial.url">Url</span></dt>
          <dd>
            <span>{{ redeSocial()!.url }}</span>
          </dd>
          <dt><span jhiTranslate="erpDobemcontabilidadeApp.redeSocial.logo">Logo</span></dt>
          <dd>
            <span>{{ redeSocial()!.logo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/rede-social', redeSocial()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
